//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// skip-links module
// Provide skip links to navigation and content.
//
// Content:
// - Skip-to links
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import 'globals.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Skip-to links
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-skip-to {
	> a {
		@include uikit-sronly;

		&:active,
		&:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: absolute;
			width: auto;
			font-size: 21px;
			top: uikit-space(1, 1);
			left: uikit-space(1, 1);
			padding: uikit-space(0.5, 1) uikit-space(0.75, 1);
			color: $uikit-colour-Text;
			background-color: $uikit-colour-Link;
			text-decoration: none;
		}
	}
}
