//sass-versioning
@import '../../../core/node_modules/sass-versioning/dist/_index.scss';

//dependencies
@import '../../../core/lib/sass/_module.scss';
@import '../../../animate/lib/sass/_module.scss';

//testing includes
@import '../../../body/lib/sass/_module.scss';

//this module
@import '_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';

//version check with sass-versioning
@include versioning-check();


.split-wrapper {
	overflow: hidden;
}

.split {
	@include uikit-media( sm ) {
		width: 49.5%;
		float: left;

		&:first-child {
			padding-right: 0.5%;
		}
	}
}
