//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Text-inputs module
// Single and multi-line text inputs.
//
// Content:
// - Text input styling, inc:
//   - labels
//   - generic text input styling
//   - states (invalid|valid|disabled)
//   - textarea styling
//   - --number variant text input
//   - --block variant
//   - hint text
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Text input styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * Text input labels.
 */
.au-text-input__label {
	display: block;
	margin-bottom: AU-space( 0.5 );

	> .au-text-input {
		margin-top: AU-space( 0.5 );
	}
}


/**
 * Generic text input styling.
 *
 * Also includes variants:
 * - invalid
 * - valid
 * - :focus
 * - :disabled/[disabled]
 */
.au-text-input {
	border: 2px solid $AU-color-Border;
	padding: AU-space( 0.25 );
	font-size: 16px;
	font-family: $AU-font;
	color: $AU-color-Text;

	@include AU-focus();

	&:focus {
		background-color: $AU-color-Action;
	}

	&::selection {
		background-color: rgba( $AU-color-Warning, 0.5 );
	}

	&:invalid {
		border: 2px solid $AU-color-Error;

		&:focus {
			background-color: $AU-color-Error;
		}
	}

	&.au-text-input--invalid {
		border: 2px solid $AU-color-Error;

		&:focus {
			background-color: $AU-color-Error;
		}
	}

	&.au-text-input--valid {
		border: 2px solid $AU-color-Success;

		&:focus {
			background-color: $AU-color-Success;
		}
	}

	&:disabled {
		cursor: not-allowed;
		background: $AU-color-Background;
		color: $AU-color-Text;
	}

	&[disabled] {
		cursor: not-allowed;
		background: $AU-color-Background;
		color: $AU-color-Text;
	}
}


/**
 * Block modifier
 */
.au-text-input--block {
	display: block;
	width: 100%;
	box-sizing: border-box;
}


/**
 * Textarea styling.
 */
.au-text-input--textarea {
	line-height: $AU-leading;
}


/**
 * Number input styling.
 *
 * Numbers are easier to disambiguate from each other (and letters) when set in
 * monospace.
 */
.au-text-input--number {
	font-family: $AU-font-monospace;
	letter-spacing: 2px;
}


/**
 * Hint text.
 *
 * Built so it can sit both in- and outside the `label`.
 */
.au-text-input__hint {
	display: block;
	margin-bottom: AU-space( 0.25 );
	font-size: 87.5%;

	// Keeps spacing neat depending on where the hint text is added.
	.au-text-input__label > &,
	.au-text-input + & {
		margin-top: AU-space( 0.25 );
	}
}
