//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Text-inputs module
// Single and multi-line text inputs.
//
// Content:
// - Text input styling, inc:
//   - labels
//   - generic text input styling
//   - states (invalid|valid|disabled)
//   - textarea styling
//   - --number variant text input
//   - --block variant
//   - hint text
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Text input styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * Text input labels.
 */
.au-text-input__label {
	display: block;
	@include AU-space( margin-bottom, 0.5unit );

	> .au-text-input {
		@include AU-space( margin-top, 0.5unit );
	}
}


/**
 * Generic text input styling.
 *
 * Also includes variants:
 * - invalid
 * - valid
 * - :focus
 * - :disabled/[disabled]
 */
.au-text-input {
	@include AU-fontgrid( sm );
	@include AU-space( padding, 0.75unit 1unit );
	border: 3px solid $AU-color-Border;
	background-color: $AU-color-Background-light;
	font-family: $AU-font;
	color: $AU-color-Text;
	border-radius: $AU-border-radius;

	&:invalid,
	&.au-text-input--invalid {
		background-color: mix( $AU-color-Error, $AU-color-Background-light, 5% );
		border-color: $AU-color-Error;
	}

	&.au-text-input--valid {
		background-color: mix( $AU-color-Success, $AU-color-Background-light, 5% );
		border-color: $AU-color-Success;
	}

	&:disabled,
	&[disabled] {
		cursor: not-allowed;
		background: $AU-color-Background;
		border-color: $AU-color-Background;
		color: $AU-color-Muted;
	}

	@include AU-focus();

	&:focus {
		outline-offset: 0;
		border-radius: 0;
		background-color: $AU-color-Background-light; // Keep the light-bg when focusing on success/error
	}
}

.au-text-input--dark {
	border-color:  $AU-colordark-Text;

	&:disabled,
	&[disabled] {
		color: $AU-colordark-Muted;
		background: $AU-colordark-Background-dark;
		border-color: $AU-colordark-Background-dark;
	}

	@include AU-focus( 'dark' );
}

/**
 * Block modifier
 */
.au-text-input--block {
	display: block;
	width: 100%;
	box-sizing: border-box;
}


/**
 * Textarea styling.
 */
.au-text-input--textarea {
	@include AU-fontgrid( sm );
	max-width: 100%;
	min-height: 50px;
}


/**
 * Number input styling.
 *
 * Numbers are easier to disambiguate from each other (and letters) when set in
 * monospace.
 */
.au-text-input--number {
	font-family: $AU-font-monospace;
	letter-spacing: 2px;
}


/**
 * Hint text.
 *
 * Built so it can sit both in- and outside the `label`.
 */
.au-text-input__hint {
	@include AU-space( margin-bottom, 0.5unit );
	@include AU-fontgrid( xs );
	display: block;

	// Keeps spacing neat depending on where the hint text is added.
	.au-text-input__label > &,
	.au-text-input + & {
		@include AU-space( margin-top, 0.5unit );
	}
}
