//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Text-inputs module
// Single and multi-line text inputs.
//
// Content:
// - Text input styling, inc:
//   - labels
//   - generic text input styling
//   - states (invalid|valid|disabled)
//   - textarea styling
//   - --number variant text input
//   - --block variant
//   - hint text
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Text input styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * Text input labels.
 */
.uikit-text-input__label {
	display: block;
	margin-bottom: uikit-space( 0.25 );

	> .uikit-text-input {
		margin-top: uikit-space( 0.5 );
	}
}


/**
 * Generic text input styling.
 *
 * Also includes variants:
 * - invalid
 * - valid
 * - :focus
 * - :disabled/[disabled]
 */
.uikit-text-input {
	border: 2px solid $uikit-colour-Border-80;
	padding: uikit-space( 0.25 );
	font-size: 16px;
	font-family: $uikit-font-system;
	color: $uikit-colour-Text;

	@include uikit-focus();

	&:focus {
		background-color: $uikit-colour-Link-10;
		outline: 3px solid $uikit-light-focus;
  	outline-offset: 0px;
  	background-color: transparent;
	}

	&::selection {
		background-color: rgba( $uikit-colour-Warning-60, 0.5 );
	}

	&:invalid {
		border: 2px solid $uikit-colour-Error;

		&:focus {
			background-color: $uikit-colour-Error-10;
		}
	}

	&.uikit-text-input--invalid {
		border: 2px solid $uikit-colour-Error;

		&:focus {
			background-color: transparent;
		}
	}

	&.uikit-text-input--valid {
		border: 2px solid $uikit-colour-Success;

		&:focus {
			background-color: $uikit-colour-Success-10;
		}
	}

	&:disabled {
		cursor: not-allowed;
		background: $uikit-colour-Background;
		color: $uikit-colour-Text-80;
	}

	&[disabled] {
		cursor: not-allowed;
		background: $uikit-colour-Background;
		color: $uikit-colour-Text-80;
	}
}


/**
 * Block modifier
 */
.uikit-text-input--block {
	display: block;
	width: 100%;
	box-sizing: border-box;
}


/**
 * Textarea styling.
 */
.uikit-text-input--textarea {
	line-height: $uikit-leading;
}


/**
 * Number input styling.
 *
 * Numbers are easier to disambiguate from each other (and letters) when set in
 * monospace.
 */
.uikit-text-input--number {
	font-family: $uikit-font-monospace;
	letter-spacing: 2px;
}


/**
 * Hint text.
 *
 * Built so it can sit both in- and outside the `label`.
 */
.uikit-text-input__hint {
	display: block;
	margin-bottom: uikit-space( 0.25 );
	font-size: 87.5%;

	// Keeps spacing neat depending on where the hint text is added.
	.uikit-text-input__label > &,
	.uikit-text-input + & {
		margin-top: uikit-space( 0.25 );
	}
}
