//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
@import '../../../body/src/sass/_module.scss';
@import '../../../grid-12/src/sass/_module.scss';
@import '../../../link-list/src/sass/_module.scss';
@import '../../../headings/src/sass/_module.scss';
@import '../../../responsive-media/src/sass/_module.scss';


//styling all test files
@import '../../../../.templates/test-assets/_style.scss';

.testing {
	border: 3px dashed hotpink;
}
