//dependencies

//testing includes

//this module
@import '_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';

//version check with sass-versioning
@include versioning-check();

html {
	font-family: $uikit-font-system;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// BREAKPOINT TEST
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.sm-only,
.md-only,
.lg-only,
.xl-only {
	display: none;
}

@include uikit-media( xs ) {
	.xs-only {
		display: none;
	}

	.sm-only {
		display: block;
	}
}

@include uikit-media( sm ) {
	.sm-only {
		display: none;
	}

	.md-only {
		display: block;
	}
}

@include uikit-media( md ) {
	.md-only {
		display: none;
	}

	.lg-only {
		display: block;
	}
}

@include uikit-media( lg ) {
	.lg-only {
		display: none;
	}

	.xl-only {
		display: block;
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// font families
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.font {
	font-family: $uikit-font;
}

.monospace {
	font-family: $uikit-font-monospace;
}

.system {
	font-family: $uikit-font-system;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// max width
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.max-width {
	max-width: $uikit-maxwidth;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// borderize
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.borderize {
	border: none;
	border-top: $uikit-borderize;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// border radius
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.border-radius-wrapper {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.border-radius {
	float: left;
	border-radius: $uikit-border-radius;
	background-color: $uikit-colour-Alpha;
	overflow: hidden;
	width: 5em;
	height: 5em;
	margin-right: 1em;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// mixin uikit-media
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-media {
	@include uikit-media( xs ) {
		&:after {
			content: 'xs';
			display: block;
		}
	}

	@include uikit-media( sm ) {
		&:after {
			content: 'sm';
			display: block;
		}
	}

	@include uikit-media( md ) {
		&:after {
			content: 'md';
			display: block;
		}
	}

	@include uikit-media( lg ) {
		&:after {
			content: 'lg';
			display: block;
		}
	}
}


//------------------------------------------------------------------------------------------------------------------------------------------------------------
// mixin uikit-sronly
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.sr-only {
	@include uikit-sronly();
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function uikit-space
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-space {
	display: block;
	position: relative;
	overflow: visible;
	padding: 1em 0;

	&:after {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 6px;
		display: block;
		content: ' ';
		background-color: rebeccapurple;
	}

	&.uikit-space--05:after {
		width: uikit-space( 0.5 );
	}

	&.uikit-space--1:after {
		width: uikit-space( 1 );
	}

	&.uikit-space--15:after {
		width: uikit-space( 1.5 );
	}

	&.uikit-space--2:after {
		width: uikit-space( 2 );
	}

	&.uikit-space--25:after {
		width: uikit-space( 2.5 );
	}

	&.uikit-space--3:after {
		width: uikit-space( 3 );
	}

	&.uikit-space--35:after {
		width: uikit-space( 3.5 );
	}

	&.uikit-space--4:after {
		width: uikit-space( 4 );
	}

	&.uikit-space--45:after {
		width: uikit-space( 4.5 );
	}

	&.uikit-space--5:after {
		width: uikit-space( 5 );
	}

	&.uikit-space--55:after {
		width: uikit-space( 5.5 );
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function uikit-replace
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-replace:after {
	content: uikit-replace('We love spaces for indentation', 'spaces', 'tabs');
	display: inline;
	color: rebeccapurple;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function uikit-svguri
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-svguri {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background: uikit-svguri('<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
		<path fill="#{ $uikit-colour-Text }" d="M1408 928v320q0 119-84.5 203.5T1120 1536H288q-119
		0-203.5-84.5T0 1248V416q0-119 84.5-203.5T288 128h704q14 0 23 9t9 23v64q0 14-9 23t-23 9H288q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0
		113-47t47-113V928q0-14 9-23t23-9h64q14 0 23 9t9 23zm384-864v512q0 26-19 45t-45 19-45-19l-176-176-652 652q-10 10-23 10t-23-10L695
		983q-10-10-10-23t10-23l652-652-176-176q-19-19-19-45t19-45 45-19h512q26 0 45 19t19 45z"/>
		</svg>');
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// colors
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.colorbox-wrapper {
	overflow: hidden;

	&.colorbox__8 .colorbox {
		width: 12.5%;
	}

	&.colorbox__4 .colorbox {
		width: 25%;
	}
}

.colorbox {
	float: left;
	text-align: center;
	font-size: 12px;

	> span {
		margin: 2em 0;
	}

	span {
		display: inline-block;
		background-color: rgba(255, 255, 255, 0.7);
		padding: 1em;

		&:after {
			content: '';
			display: block;
			background-color: rgba(255, 255, 255, 0.7);
			padding: 0.5em;
			margin-top: 0.5em;
		}
	}

	.colorbox__tint {
		padding: 2em 0;
	}
}

.colorbox__colour-Hero {
	background-color: $uikit-colour-Hero;

	> span:after {
		content: "#{ $uikit-colour-Hero }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Hero-90;

		span:after {
			content: "#{ $uikit-colour-Hero-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Hero-80;

		span:after {
			content: "#{ $uikit-colour-Hero-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Hero-70;

		span:after {
			content: "#{ $uikit-colour-Hero-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Hero-60;

		span:after {
			content: "#{ $uikit-colour-Hero-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Hero-50;

		span:after {
			content: "#{ $uikit-colour-Hero-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Hero-40;

		span:after {
			content: "#{ $uikit-colour-Hero-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Hero-30;

		span:after {
			content: "#{ $uikit-colour-Hero-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Hero-20;

		span:after {
			content: "#{ $uikit-colour-Hero-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Hero-10;

		span:after {
			content: "#{ $uikit-colour-Hero-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Hero-5;

		span:after {
			content: "#{ $uikit-colour-Hero-5 }";
		}
	}
}

.colorbox__colour-Primary {
	background-color: $uikit-colour-Primary;

	> span:after {
		content: "#{ $uikit-colour-Primary }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Primary-90;

		span:after {
			content: "#{ $uikit-colour-Primary-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Primary-80;

		span:after {
			content: "#{ $uikit-colour-Primary-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Primary-70;

		span:after {
			content: "#{ $uikit-colour-Primary-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Primary-60;

		span:after {
			content: "#{ $uikit-colour-Primary-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Primary-50;

		span:after {
			content: "#{ $uikit-colour-Primary-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Primary-40;

		span:after {
			content: "#{ $uikit-colour-Primary-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Primary-30;

		span:after {
			content: "#{ $uikit-colour-Primary-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Primary-20;

		span:after {
			content: "#{ $uikit-colour-Primary-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Primary-10;

		span:after {
			content: "#{ $uikit-colour-Primary-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Primary-5;

		span:after {
			content: "#{ $uikit-colour-Primary-5 }";
		}
	}
}

.colorbox__colour-Background {
	background-color: $uikit-colour-Background;

	> span:after {
		content: "#{ $uikit-colour-Background }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Background-90;

		span:after {
			content: "#{ $uikit-colour-Background-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Background-80;

		span:after {
			content: "#{ $uikit-colour-Background-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Background-70;

		span:after {
			content: "#{ $uikit-colour-Background-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Background-60;

		span:after {
			content: "#{ $uikit-colour-Background-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Background-50;

		span:after {
			content: "#{ $uikit-colour-Background-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Background-40;

		span:after {
			content: "#{ $uikit-colour-Background-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Background-30;

		span:after {
			content: "#{ $uikit-colour-Background-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Background-20;

		span:after {
			content: "#{ $uikit-colour-Background-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Background-10;

		span:after {
			content: "#{ $uikit-colour-Background-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Background-5;

		span:after {
			content: "#{ $uikit-colour-Background-5 }";
		}
	}
}

.colorbox__colour-Border {
	background-color: $uikit-colour-Border;

	> span:after {
		content: "#{ $uikit-colour-Border }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Border-90;

		span:after {
			content: "#{ $uikit-colour-Border-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Border-80;

		span:after {
			content: "#{ $uikit-colour-Border-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Border-70;

		span:after {
			content: "#{ $uikit-colour-Border-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Border-60;

		span:after {
			content: "#{ $uikit-colour-Border-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Border-50;

		span:after {
			content: "#{ $uikit-colour-Border-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Border-40;

		span:after {
			content: "#{ $uikit-colour-Border-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Border-30;

		span:after {
			content: "#{ $uikit-colour-Border-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Border-20;

		span:after {
			content: "#{ $uikit-colour-Border-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Border-10;

		span:after {
			content: "#{ $uikit-colour-Border-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Border-5;

		span:after {
			content: "#{ $uikit-colour-Border-5 }";
		}
	}
}

.colorbox__colour-Text {
	background-color: $uikit-colour-Text;

	> span:after {
		content: "#{ $uikit-colour-Text }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Text-90;

		span:after {
			content: "#{ $uikit-colour-Text-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Text-80;

		span:after {
			content: "#{ $uikit-colour-Text-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Text-70;

		span:after {
			content: "#{ $uikit-colour-Text-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Text-60;

		span:after {
			content: "#{ $uikit-colour-Text-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Text-50;

		span:after {
			content: "#{ $uikit-colour-Text-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Text-40;

		span:after {
			content: "#{ $uikit-colour-Text-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Text-30;

		span:after {
			content: "#{ $uikit-colour-Text-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Text-20;

		span:after {
			content: "#{ $uikit-colour-Text-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Text-10;

		span:after {
			content: "#{ $uikit-colour-Text-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Text-5;

		span:after {
			content: "#{ $uikit-colour-Text-5 }";
		}
	}
}

.colorbox__colour-Link {
	background-color: $uikit-colour-Link;

	> span:after {
		content: "#{ $uikit-colour-Link }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Link-90;

		span:after {
			content: "#{ $uikit-colour-Link-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Link-80;

		span:after {
			content: "#{ $uikit-colour-Link-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Link-70;

		span:after {
			content: "#{ $uikit-colour-Link-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Link-60;

		span:after {
			content: "#{ $uikit-colour-Link-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Link-50;

		span:after {
			content: "#{ $uikit-colour-Link-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Link-40;

		span:after {
			content: "#{ $uikit-colour-Link-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Link-30;

		span:after {
			content: "#{ $uikit-colour-Link-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Link-20;

		span:after {
			content: "#{ $uikit-colour-Link-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Link-10;

		span:after {
			content: "#{ $uikit-colour-Link-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Link-5;

		span:after {
			content: "#{ $uikit-colour-Link-5 }";
		}
	}
}

.colorbox__colour-Alpha {
	background-color: $uikit-colour-Alpha;

	> span:after {
		content: "#{ $uikit-colour-Alpha }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Alpha-90;

		span:after {
			content: "#{ $uikit-colour-Alpha-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Alpha-80;

		span:after {
			content: "#{ $uikit-colour-Alpha-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Alpha-70;

		span:after {
			content: "#{ $uikit-colour-Alpha-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Alpha-60;

		span:after {
			content: "#{ $uikit-colour-Alpha-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Alpha-50;

		span:after {
			content: "#{ $uikit-colour-Alpha-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Alpha-40;

		span:after {
			content: "#{ $uikit-colour-Alpha-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Alpha-30;

		span:after {
			content: "#{ $uikit-colour-Alpha-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Alpha-20;

		span:after {
			content: "#{ $uikit-colour-Alpha-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Alpha-10;

		span:after {
			content: "#{ $uikit-colour-Alpha-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Alpha-5;

		span:after {
			content: "#{ $uikit-colour-Alpha-5 }";
		}
	}
}

.colorbox__colour-Beta {
	background-color: $uikit-colour-Beta;

	> span:after {
		content: "#{ $uikit-colour-Beta }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Beta-90;

		span:after {
			content: "#{ $uikit-colour-Beta-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Beta-80;

		span:after {
			content: "#{ $uikit-colour-Beta-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Beta-70;

		span:after {
			content: "#{ $uikit-colour-Beta-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Beta-60;

		span:after {
			content: "#{ $uikit-colour-Beta-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Beta-50;

		span:after {
			content: "#{ $uikit-colour-Beta-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Beta-40;

		span:after {
			content: "#{ $uikit-colour-Beta-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Beta-30;

		span:after {
			content: "#{ $uikit-colour-Beta-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Beta-20;

		span:after {
			content: "#{ $uikit-colour-Beta-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Beta-10;

		span:after {
			content: "#{ $uikit-colour-Beta-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Beta-5;

		span:after {
			content: "#{ $uikit-colour-Beta-5 }";
		}
	}
}

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// notification colors
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.colorbox__colour-Error {
	background-color: $uikit-colour-Error;

	> span:after {
		content: "#{ $uikit-colour-Error }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Error-90;

		span:after {
			content: "#{ $uikit-colour-Error-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Error-80;

		span:after {
			content: "#{ $uikit-colour-Error-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Error-70;

		span:after {
			content: "#{ $uikit-colour-Error-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Error-60;

		span:after {
			content: "#{ $uikit-colour-Error-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Error-50;

		span:after {
			content: "#{ $uikit-colour-Error-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Error-40;

		span:after {
			content: "#{ $uikit-colour-Error-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Error-30;

		span:after {
			content: "#{ $uikit-colour-Error-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Error-20;

		span:after {
			content: "#{ $uikit-colour-Error-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Error-10;

		span:after {
			content: "#{ $uikit-colour-Error-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Error-5;

		span:after {
			content: "#{ $uikit-colour-Error-5 }";
		}
	}
}

.colorbox__colour-Success {
	background-color: $uikit-colour-Success;

	> span:after {
		content: "#{ $uikit-colour-Success }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Success-90;

		span:after {
			content: "#{ $uikit-colour-Success-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Success-80;

		span:after {
			content: "#{ $uikit-colour-Success-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Success-70;

		span:after {
			content: "#{ $uikit-colour-Success-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Success-60;

		span:after {
			content: "#{ $uikit-colour-Success-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Success-50;

		span:after {
			content: "#{ $uikit-colour-Success-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Success-40;

		span:after {
			content: "#{ $uikit-colour-Success-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Success-30;

		span:after {
			content: "#{ $uikit-colour-Success-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Success-20;

		span:after {
			content: "#{ $uikit-colour-Success-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Success-10;

		span:after {
			content: "#{ $uikit-colour-Success-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Success-5;

		span:after {
			content: "#{ $uikit-colour-Success-5 }";
		}
	}
}

.colorbox__colour-Warning {
	background-color: $uikit-colour-Warning;

	> span:after {
		content: "#{ $uikit-colour-Warning }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Warning-90;

		span:after {
			content: "#{ $uikit-colour-Warning-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Warning-80;

		span:after {
			content: "#{ $uikit-colour-Warning-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Warning-70;

		span:after {
			content: "#{ $uikit-colour-Warning-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Warning-60;

		span:after {
			content: "#{ $uikit-colour-Warning-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Warning-50;

		span:after {
			content: "#{ $uikit-colour-Warning-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Warning-40;

		span:after {
			content: "#{ $uikit-colour-Warning-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Warning-30;

		span:after {
			content: "#{ $uikit-colour-Warning-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Warning-20;

		span:after {
			content: "#{ $uikit-colour-Warning-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Warning-10;

		span:after {
			content: "#{ $uikit-colour-Warning-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Warning-5;

		span:after {
			content: "#{ $uikit-colour-Warning-5 }";
		}
	}
}

.colorbox__colour-Info {
	background-color: $uikit-colour-Info;

	> span:after {
		content: "#{ $uikit-colour-Info }";
	}

	.colorbox--colour-90 {
		background-color: $uikit-colour-Info-90;

		span:after {
			content: "#{ $uikit-colour-Info-90 }";
		}
	}
	.colorbox--colour-80 {
		background-color: $uikit-colour-Info-80;

		span:after {
			content: "#{ $uikit-colour-Info-80 }";
		}
	}
	.colorbox--colour-70 {
		background-color: $uikit-colour-Info-70;

		span:after {
			content: "#{ $uikit-colour-Info-70 }";
		}
	}
	.colorbox--colour-60 {
		background-color: $uikit-colour-Info-60;

		span:after {
			content: "#{ $uikit-colour-Info-60 }";
		}
	}
	.colorbox--colour-50 {
		background-color: $uikit-colour-Info-50;

		span:after {
			content: "#{ $uikit-colour-Info-50 }";
		}
	}
	.colorbox--colour-40 {
		background-color: $uikit-colour-Info-40;

		span:after {
			content: "#{ $uikit-colour-Info-40 }";
		}
	}
	.colorbox--colour-30 {
		background-color: $uikit-colour-Info-30;

		span:after {
			content: "#{ $uikit-colour-Info-30 }";
		}
	}
	.colorbox--colour-20 {
		background-color: $uikit-colour-Info-20;

		span:after {
			content: "#{ $uikit-colour-Info-20 }";
		}
	}
	.colorbox--colour-10 {
		background-color: $uikit-colour-Info-10;

		span:after {
			content: "#{ $uikit-colour-Info-10 }";
		}
	}
	.colorbox--colour-5 {
		background-color: $uikit-colour-Info-5;

		span:after {
			content: "#{ $uikit-colour-Info-5 }";
		}
	}
}
