//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
@import '../../../body/lib/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';


html {
	font-family: $AU-font;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// BREAKPOINT TEST
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.sm-only,
.md-only,
.lg-only,
.xl-only {
	display: none;
}

@include AU-media( xs ) {
	.xs-only {
		display: none;
	}

	.sm-only {
		display: block;
	}
}

@include AU-media( sm ) {
	.sm-only {
		display: none;
	}

	.md-only {
		display: block;
	}
}

@include AU-media( md ) {
	.md-only {
		display: none;
	}

	.lg-only {
		display: block;
	}
}

@include AU-media( lg ) {
	.lg-only {
		display: none;
	}

	.xl-only {
		display: block;
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// font families
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.font {
	font-family: $AU-font;
}

.monospace {
	font-family: $AU-font-monospace;
}

.system {
	font-family: $AU-font;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// max width
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.max-width {
	max-width: $AU-maxwidth;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// borderize
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.borderize {
	border: none;
	border-top: 1px solid $AU-color-foreground-border;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// border radius
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.border-radius-wrapper {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.border-radius {
	float: left;
	border-radius: $AU-border-radius;
	background-color: $AU-colordark-background-shade;
	overflow: hidden;
	width: 5em;
	height: 5em;
	margin-right: 1em;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// mixin AU-media
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-media {
	@include AU-media( xs ) {
		&:after {
			content: 'xs';
			display: block;
		}
	}

	@include AU-media( sm ) {
		&:after {
			content: 'sm';
			display: block;
		}
	}

	@include AU-media( md ) {
		&:after {
			content: 'md';
			display: block;
		}
	}

	@include AU-media( lg ) {
		&:after {
			content: 'lg';
			display: block;
		}
	}
}


//------------------------------------------------------------------------------------------------------------------------------------------------------------
// mixin AU-sronly
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.sr-only {
	@include AU-sronly();
}


//------------------------------------------------------------------------------------------------------------------------------------------------------------
// mixin AU-outline
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-outline {
	@include AU-outline();
}

.au-outline.dark {
	@include AU-outline( 'dark' );
}


//------------------------------------------------------------------------------------------------------------------------------------------------------------
// mixin AU-focus
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-focus {
	@include AU-focus();
}

.au-focus.dark {
	@include AU-focus( 'dark' );
}


//------------------------------------------------------------------------------------------------------------------------------------------------------------
// mixin AU-fontgrid
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-fontgrid {
	background-color: $AU-color-background-shade;
	margin-top: $AU-unit + 0px;
}

.au-fontgrid-0 {
	@include AU-fontgrid( xxxl );
}

.au-fontgrid-1 {
	@include AU-fontgrid( xxl );
}

.au-fontgrid-2 {
	@include AU-fontgrid( xl );
}

.au-fontgrid-3 {
	@include AU-fontgrid( lg );
}

.au-fontgrid-4 {
	@include AU-fontgrid( md );
}

.au-fontgrid-5 {
	@include AU-fontgrid( sm );
}

.au-fontgrid-6 {
	@include AU-fontgrid( xs );
}

.lineheight-heading {
	.au-fontgrid-0 {
		@include AU-fontgrid( xxxl, heading );
	}

	.au-fontgrid-1 {
		@include AU-fontgrid( xxl, heading );
	}

	.au-fontgrid-2 {
		@include AU-fontgrid( xl, heading );
	}

	.au-fontgrid-3 {
		@include AU-fontgrid( lg, heading );
	}

	.au-fontgrid-4 {
		@include AU-fontgrid( md, heading );
	}

	.au-fontgrid-5 {
		@include AU-fontgrid( sm, heading );
	}

	.au-fontgrid-6 {
		@include AU-fontgrid( xs, heading );
	}
}

.lineheight-nospace {
	.au-fontgrid-0 {
		@include AU-fontgrid( xxxl, nospace );
	}

	.au-fontgrid-1 {
		@include AU-fontgrid( xxl, nospace );
	}

	.au-fontgrid-2 {
		@include AU-fontgrid( xl, nospace );
	}

	.au-fontgrid-3 {
		@include AU-fontgrid( lg, nospace );
	}

	.au-fontgrid-4 {
		@include AU-fontgrid( md, nospace );
	}

	.au-fontgrid-5 {
		@include AU-fontgrid( sm, nospace );
	}

	.au-fontgrid-6 {
		@include AU-fontgrid( xs, nospace );
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function AU-space
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-space {
	display: block;
	position: relative;
	overflow: visible;
	padding: 1em 0;

	&:after {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 6px;
		display: block;
		content: ' ';
		background-color: hotpink;
		background-color: rebeccapurple;
	}

	&.au-space--025:after {
		@include AU-space( width, 0.25unit );
	}

	&.au-space--05:after {
		@include AU-space( width, 0.5unit );
	}

	&.au-space--075:after {
		@include AU-space( width, 0.75unit );
	}

	&.au-space--1:after {
		@include AU-space( width, 1unit );
	}

	&.au-space--15:after {
		@include AU-space( width, 1.5unit );
	}

	&.au-space--2:after {
		@include AU-space( width, 2unit );
	}

	&.au-space--nopixel:after {
		@include AU-space( width, 2unit, false );
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function au-replace
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-replace:after {
	content: AU-replace('We love spaces for indentation', 'spaces', 'tabs');
	display: inline;
	color: rebeccapurple;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function au-svguri
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-svguri {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background: AU-svguri('<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
			<path fill="#{ $AU-color-foreground-text }" d="M1408 928v320q0 119-84.5 203.5T1120 1536H288q-119' +
		'	0-203.5-84.5T0 1248V416q0-119 84.5-203.5T288 128h704q14 0 23 9t9 23v64q0 14-9 23t-23 9H288q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0' +
		'	113-47t47-113V928q0-14 9-23t23-9h64q14 0 23 9t9 23zm384-864v512q0 26-19 45t-45 19-45-19l-176-176-652 652q-10 10-23 10t-23-10L695' +
		'	983q-10-10-10-23t10-23l652-652-176-176q-19-19-19-45t19-45 45-19h512q26 0 45 19t19 45z"/>' +
		'</svg>');

	.ie8 &:after,
	.lt-ie8 &:after {
		background: none;
		content: '⇗';
		color: $AU-color-foreground-text;
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function au-replace
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-replace:after {
	content: AU-replace('We love spaces for indentation', 'spaces', 'tabs');
	display: inline;
	color: rebeccapurple;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function au-factorial
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-factorial1:after {
	content: " #{ AU-factorial( 1 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-factorial2:after {
	content: " #{ AU-factorial( 2 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-factorial3:after {
	content: " #{ AU-factorial( 3 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-factorial4:after {
	content: " #{ AU-factorial( 4 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-factorial5:after {
	content: " #{ AU-factorial( 5 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-factorial6:after {
	content: " #{ AU-factorial( 6 ) }";
	display: inline;
	color: rebeccapurple;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function au-pow
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-pow1:after {
	content: " #{ AU-pow( 5, 3 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-pow2:after {
	content: " #{ AU-pow( 4, 2 ) }";
	display: inline;
	color: rebeccapurple;
}

// .au-pow3:after {
// 	content: " #{ AU-pow( 4, -2 ) }";
// 	display: inline;
// 	color: rebeccapurple;
// }

.au-pow4:after {
	content: " #{ AU-pow( 4, 0.2 ) }";
	display: inline;
	color: rebeccapurple;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function au-color-luminance
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-color-luminance1:after {
	content: " #{ AU-color-luminance( #000 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-color-luminance2:after {
	content: " #{ AU-color-luminance( #663399 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-color-luminance3:after {
	content: " #{ AU-color-luminance( #ff69b4 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-color-luminance4:after {
	content: " #{ AU-color-luminance( #fff ) }";
	display: inline;
	color: rebeccapurple;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function AU-color-contrast
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-color-contrast1:after {
	content: " #{ AU-color-contrast( #fff, #000 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-color-contrast2:after {
	content: " #{ AU-color-contrast( #fff, #f00 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-color-contrast3:after {
	content: " #{ AU-color-contrast( #000, #f00 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-color-contrast4:after {
	content: " #{ AU-color-contrast( #000, #ff0 ) }";
	display: inline;
	color: rebeccapurple;
}

.au-color-contrast5:after {
	content: " #{ AU-color-contrast( #fff, #ff0 ) }";
	display: inline;
	color: rebeccapurple;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// function AU-color-a11y
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// .au-color-a11y1:after {
// 	content: " #{ AU-color-a11y( red, blue ) }";
// 	display: inline;
// 	color: rebeccapurple;
// }

// .au-color-a11y2:after {
// 	content: " #{ AU-color-a11y( green, blue ) }";
// 	display: inline;
// 	color: rebeccapurple;
// }

// .au-color-a11y3:after {
// 	content: " #{ AU-color-a11y( pink, blue ) }";
// 	display: inline;
// 	color: rebeccapurple;
// }

// .au-color-a11y4:after {
// 	content: " #{ AU-color-a11y( blue, blue ) }";
// 	display: inline;
// 	color: rebeccapurple;
// }

// .au-color-a11y5:after {
// 	content: " #{ AU-color-a11y( #c0c0c0, #c0c0c0 ) }";
// 	display: inline;
// 	color: rebeccapurple;
// }

// .au-color-a11y6:after {
// 	content: " #{ AU-color-a11y( #c0c0c0, #c0c0c0, small, 1 ) }";
// 	display: inline;
// 	color: rebeccapurple;
// }

// .au-color-a11y7:after {
// 	content: " #{ AU-color-a11y( #c0c0c0, #c0c0c0, small, 50 ) }";
// 	display: inline;
// 	color: rebeccapurple;
// }

// .au-color-a11y8:after {
// 	content: " #{ AU-color-a11y( #231284, #ccc ) }";
// 	display: inline;
// 	color: rebeccapurple;
// }

// .au-color-a11y9:after {
// 	content: " #{ AU-color-a11y( #fff, #fff ) }";
// 	display: inline;
// 	color: rebeccapurple;
// }

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// palettes
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.palette {
	overflow: hidden;
}

.palette__color {
	position: relative;
	float: left;

	.palette--9 & {
		width: 20%;
		padding-bottom: 20%;
	}

	.palette--4 & {
		width: 25%;
		padding-bottom: 25%;
	}

	&:after {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: -1.2em;
		text-align: center;
		font-size: 12px;
		background: rgba(255, 255, 255, 0.2);
		padding: 0.5em 0;
		white-space: pre;
		overflow: auto;
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// contrast table
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
@mixin check-contrast( $ratio ) {
	$result: "✔";

	@if( $ratio < 4.5 ) {
		background-color: rgba( 255, 255, 0, 0.7 );
		background-image: repeating-linear-gradient(
			45deg, transparent,
			transparent 5px,
			rgba(255,255,255,.5) 5px,
			rgba(255,255,255,.5) 10px
		);
		color: #000;

		$result: "!";
	}

	@if( $ratio < 3 ) {
		background-color: rgba( 255, 0, 0, 0.7 );
		color: #fff;

		$result: "✗";
	}

	content: "#{ $ratio } #{ $result }";
}

.contrast {
	width: 100%;

	thead:before {
		content: " ";
		display: block;
		@include AU-space( padding-top, 1unit );
	}

	caption {
		text-align: left;
	}

	td {
		width: 13.333333333333%;
		padding: 0;
	}
}

.contrast-box {
	padding: 1em;
	text-align: center;
	font-weight: bold;

	&:after {
		display: block;
		margin: 0.5em;
		padding: 1em;
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// color boxes for tints
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.colorbox-wrapper {
	overflow: hidden;

	&.colorbox__8 .colorbox {
		width: 100%;

		@include AU-media( sm ) {
			width: 25%;
		}

		@include AU-media( md ) {
			width: 12.5%;
		}
	}

	&.colorbox__4 .colorbox {
		width: 100%;

		@include AU-media( sm ) {
			width: 50%;
		}

		@include AU-media( md ) {
			width: 25%;
		}
	}
}

.colorbox {
	float: left;
	font-size: 12px;

	span {
		display: block;
		background-color: rgba(255, 255, 255, 0.7);
		padding: 1em;
		margin-left: 4em;
		font-weight: bold;
		overflow: auto;

		&:after {
			content: '';
			display: inline;
			padding-left: 0.5em;
			font-weight: normal;
		}
	}
}

.colorbox__tint__name {
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// main palette colors
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.palette__color--action {
	background-color: $AU-color-foreground-action;

	&:after {
		content: 'AU-color-foreground-action\A#{ $AU-color-foreground-action }';
	}
}
.palette__color--focus {
	background-color: $AU-color-foreground-focus;

	&:after {
		content: 'AU-color-foreground-focus\A#{ $AU-color-foreground-focus }';
	}
}
.palette__color--text {
	background-color: $AU-color-foreground-text;

	&:after {
		content: 'AU-color-foreground-text\A#{ $AU-color-foreground-text }';
	}
}
.palette__color--muted {
	background-color: $AU-color-foreground-muted;

	&:after {
		content: 'AU-color-foreground-muted\A#{ $AU-color-foreground-muted }';
	}
}
.palette__color--border {
	background-color: $AU-color-foreground-border;

	&:after {
		content: 'AU-color-foreground-border\A#{ $AU-color-foreground-border }';
	}
}
.palette__color--background-light {
	background-color: $AU-color-background;

	&:after {
		content: 'AU-color-background\A#{ $AU-color-background }';
	}
}
.palette__color--background {
	background-color: $AU-color-background-shade;

	&:after {
		content: 'AU-color-background-shade\A#{ $AU-color-background-shade }';
	}
}
.palette__color--background-dark {
	background-color: $AU-color-background-alt;

	&:after {
		content: 'AU-color-background-alt\A#{ $AU-color-background-alt }';
	}
}
.palette__color--background-darkest {
	background-color: $AU-color-background-alt-shade;

	&:after {
		content: 'AU-color-background-alt-shade\A#{ $AU-color-background-alt-shade }';
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// dark palette colors
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.palette--dark {
	.palette__color--action {
		background-color: $AU-colordark-foreground-action;

		&:after {
			content: 'AU-colordark-foreground-action\A#{ $AU-colordark-foreground-action }';
		}
	}
	.palette__color--focus {
		background-color: $AU-colordark-foreground-focus;

		&:after {
			content: 'AU-colordark-foreground-focus\A#{ $AU-colordark-foreground-focus }';
		}
	}
	.palette__color--text {
		background-color: $AU-colordark-foreground-text;

		&:after {
			content: 'AU-colordark-foreground-text\A#{ $AU-colordark-foreground-text }';
		}
	}
	.palette__color--muted {
		background-color: $AU-colordark-foreground-muted;

		&:after {
			content: 'AU-colordark-foreground-muted\A#{ $AU-colordark-foreground-muted }';
		}
	}
	.palette__color--border {
		background-color: $AU-colordark-foreground-border;

		&:after {
			content: 'AU-colordark-foreground-border\A#{ $AU-colordark-foreground-border }';
		}
	}
	.palette__color--background-light {
		background-color: $AU-colordark-background;
		color: #fff;

		&:after {
			content: 'AU-colordark-background\A#{ $AU-colordark-background }';
		}
	}
	.palette__color--background {
		background-color: $AU-colordark-background-shade;
		color: #fff;

		&:after {
			content: 'AU-colordark-background-shade\A#{ $AU-colordark-background-shade }';
		}
	}
	.palette__color--background-dark {
		background-color: $AU-colordark-background-alt;
		color: #fff;

		&:after {
			content: 'AU-colordark-background-alt\A#{ $AU-colordark-background-alt }';
		}
	}
	.palette__color--background-darkest {
		background-color: $AU-colordark-background-alt-shade;
		color: #fff;

		&:after {
			content: 'AU-colordark-background-alt-shade\A#{ $AU-colordark-background-alt-shade }';
		}
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// notification palette colors
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.palette__color--error {
	background-color: $AU-color-error;

	&:after {
		content: 'AU-color-error\A#{ $AU-color-error }';
	}
}
.palette__color--success {
	background-color: $AU-color-success;

	&:after {
		content: 'AU-color-success\A#{ $AU-color-success }';
	}
}
.palette__color--warning {
	background-color: $AU-color-warning;

	&:after {
		content: 'AU-color-warning\A#{ $AU-color-warning }';
	}
}
.palette__color--info {
	background-color: $AU-color-info;

	&:after {
		content: 'AU-color-info\A#{ $AU-color-info }';
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// main palette contrast ratios
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.contrast-box--action {
	color: $AU-color-foreground-action;
}
.contrast-box--focus {
	color: $AU-color-foreground-focus;
}
.contrast-box--text {
	color: $AU-color-foreground-text;
}
.contrast-box--muted {
	color: $AU-color-foreground-muted;
}
.contrast-box--border {
	color: $AU-color-foreground-border;
}


.contrast-background {
	.contrast-box {
		background-color: $AU-color-background;
	}
	.contrast-box--action:after {
		@include check-contrast( AU-color-contrast( $AU-color-background, $AU-color-foreground-action ) );
	}
	.contrast-box--focus:after {
		@include check-contrast( AU-color-contrast( $AU-color-background, $AU-color-foreground-focus ) );
	}
	.contrast-box--text:after {
		@include check-contrast( AU-color-contrast( $AU-color-background, $AU-color-foreground-text ) );
	}
	.contrast-box--muted:after {
		@include check-contrast( AU-color-contrast( $AU-color-background, $AU-color-foreground-muted ) );
	}
	.contrast-box--border:after {
		@include check-contrast( AU-color-contrast( $AU-color-background, $AU-color-foreground-border ) );
	}
}

.contrast-background-shade {
	.contrast-box {
		background-color: $AU-color-background-shade;
	}
	.contrast-box--action:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-shade, $AU-color-foreground-action ) );
	}
	.contrast-box--focus:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-shade, $AU-color-foreground-focus ) );
	}
	.contrast-box--text:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-shade, $AU-color-foreground-text ) );
	}
	.contrast-box--muted:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-shade, $AU-color-foreground-muted ) );
	}
	.contrast-box--border:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-shade, $AU-color-foreground-border ) );
	}
}

.contrast-background-alt {
	.contrast-box {
		background-color: $AU-color-background-alt;
	}
	.contrast-box--action:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-alt, $AU-color-foreground-action ) );
	}
	.contrast-box--focus:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-alt, $AU-color-foreground-focus ) );
	}
	.contrast-box--text:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-alt, $AU-color-foreground-text ) );
	}
	.contrast-box--muted:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-alt, $AU-color-foreground-muted ) );
	}
	.contrast-box--border:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-alt, $AU-color-foreground-border ) );
	}
}

.contrast-background-alt-shade {
	.contrast-box {
		background-color: $AU-color-background-alt-shade;
	}
	.contrast-box--action:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-alt-shade, $AU-color-foreground-action ) );
	}
	.contrast-box--focus:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-alt-shade, $AU-color-foreground-focus ) );
	}
	.contrast-box--text:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-alt-shade, $AU-color-foreground-text ) );
	}
	.contrast-box--muted:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-alt-shade, $AU-color-foreground-muted ) );
	}
	.contrast-box--border:after {
		@include check-contrast( AU-color-contrast( $AU-color-background-alt-shade, $AU-color-foreground-border ) );
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// dark palette contrast ratios
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.contrast--dark {
	.contrast-box--action {
		color: $AU-colordark-foreground-action;
	}
	.contrast-box--focus {
	 color: $AU-colordark-foreground-focus;
	}
	.contrast-box--text {
		color: $AU-colordark-foreground-text;
	}
	.contrast-box--muted {
		color: $AU-colordark-foreground-muted;
	}
	.contrast-box--border {
		color: $AU-colordark-foreground-border;
	}

	.contrast-background {
		.contrast-box {
			background-color: $AU-colordark-background;
		}
		.contrast-box--action:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background, $AU-colordark-foreground-action ) );
		}
		.contrast-box--focus:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background, $AU-colordark-foreground-focus ) );
		}
		.contrast-box--text:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background, $AU-colordark-foreground-text ) );
		}
		.contrast-box--muted:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background, $AU-colordark-foreground-muted ) );
		}
		.contrast-box--border:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background, $AU-colordark-foreground-border ) );
		}
	}

	.contrast-background-shade {
		.contrast-box {
			background-color: $AU-colordark-background-shade;
		}
		.contrast-box--action:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-shade, $AU-colordark-foreground-action ) );
		}
		.contrast-box--focus:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-shade, $AU-colordark-foreground-focus ) );
		}
		.contrast-box--text:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-shade, $AU-colordark-foreground-text ) );
		}
		.contrast-box--muted:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-shade, $AU-colordark-foreground-muted ) );
		}
		.contrast-box--border:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-shade, $AU-colordark-foreground-border ) );
		}
	}

	.contrast-background-alt {
		.contrast-box {
			background-color: $AU-colordark-background-alt;
		}
		.contrast-box--action:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-alt, $AU-colordark-foreground-action ) );
		}
		.contrast-box--focus:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-alt, $AU-colordark-foreground-focus ) );
		}
		.contrast-box--text:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-alt, $AU-colordark-foreground-text ) );
		}
		.contrast-box--muted:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-alt, $AU-colordark-foreground-muted ) );
		}
		.contrast-box--border:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-alt, $AU-colordark-foreground-border ) );
		}
	}

	.contrast-background-alt-shade {
		.contrast-box {
			background-color: $AU-colordark-background-alt-shade;
		}
		.contrast-box--action:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-alt-shade, $AU-colordark-foreground-action ) );
		}
		.contrast-box--focus:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-alt-shade, $AU-colordark-foreground-focus ) );
		}
		.contrast-box--text:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-alt-shade, $AU-colordark-foreground-text ) );
		}
		.contrast-box--muted:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-alt-shade, $AU-colordark-foreground-muted ) );
		}
		.contrast-box--border:after {
			@include check-contrast( AU-color-contrast( $AU-colordark-background-alt-shade, $AU-colordark-foreground-border ) );
		}
	}
}
