//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// progress-indicator module
// Indicator of progress through a multitude of pages mostly used for forms.
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
	.progress-indicator {
		border-top-color: #000 !important;
	}

	.uikit-body .progress-indicator__link,
	.progress-indicator__link {
		border-bottom-color: #000 !important;
		border-left-color: transparent !important;
		padding-left: 6px !important;

		&.progress-indicator--doing {
			border-left-color: #000 !important;
		}

		&:after {
			display: none;
		}
	}
}
