//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
@import '../../../body/lib/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// split style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.split-wrapper {
	overflow: hidden;
}

.split {
	@include uikit-media( sm ) {
		width: 49.5%;
		float: left;

		&:first-child {
			padding-right: 0.5%;
		}
	}
}
