//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// skip-link module
// Provide skip links to navigation and content.
//
// Content:
// - Skip-to links
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Skip-to links
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-skip-link {
	@include AU-fontsize( md, nospace );
	font-family: $AU-font;
	color: $AU-color-Text;
}

.au-skip-link__link {
	@include AU-sronly;

	&:active,
	&:focus {
		@include AU-outline();
		@include AU-space ( top, 1unit );
		@include AU-space ( left, 1unit );
		@include AU-space ( padding, 1.5unit );
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: absolute;
		width: auto;
		color: $AU-color-Background-light;
		background-color: $AU-color-Action;
		text-decoration: underline;
		text-decoration-skip: ink;
	}
}
