//sass-versioning
// @import '../../../../node_modules/sass-versioning/dist/index';

//dependencies
@import '../../../core/src/sass/_module.scss';
@import '../../../link-list/src/sass/module.scss';
@import '../../../body/src/sass/_module.scss'; //link-list dependency

//this module
@import '../../src/sass/_module.scss';

//version check with sass-versioning
// @include versioning-check();
