//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// main-nav module
// Horizontal list of links to key areas on the website. Usually located in the header.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


.au-main-nav {
	@include AU-fontgrid( sm );
	@include AU-space( border-bottom, solid 0.5unit $AU-color-foreground-action );
	background-color: $AU-color-background;
	font-family: $AU-font;
	color: $AU-color-foreground-text;

	a {
		@include AU-space( padding, 1unit );
		@include AU-fontgrid( xs );
		color: $AU-color-foreground-muted;
		display: block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-skip: ink;
			background-color: $AU-color-background-alt-shade;
		}
	}

	@include AU-media( md ) {
		a {
			@include AU-fontgrid( sm );
			display: block;
			text-decoration: none;
			color: $AU-color-foreground-action;

			&:hover {
				color: $AU-color-foreground-text;
				text-decoration: underline;
				text-decoration-skip: ink;
				background: $AU-color-background-shade;
			}

			@include AU-focus();
		}
	}
}

.au-main-nav__content {
	ul {
		@include AU-clearfix();
		padding: 0;
		margin: 0;
		list-style: none;

		& > li {
			border-bottom: 1px solid $AU-color-foreground-border;

			&:last-of-type {
				border: none;
			}
		}
	}

	.active a {
		font-weight: bold;
		color: $AU-color-foreground-text;
	}

	@include AU-media( md ){
		ul > li {
			display: block;
			float: left;
			border: none;
		}

		a {
			@include AU-space( padding, 1unit 1unit );
		}

		.active a {
			font-weight: normal;
			@include AU-space( margin-bottom, -0.5unit );
			@include AU-space( border-bottom, 0.5unit solid $AU-color-background );

			&:hover {
				border-color: $AU-color-background-shade;
			}
		}
	}
}


.au-main-nav--alt {
	background-color: $AU-color-background-alt;

	.active a {
		border-color: $AU-color-background-alt;

		&:hover {
			border-color: $AU-color-background-alt-shade;
		}
	}

	a:hover {
		background-color: $AU-color-background-alt-shade;
	}
}


.au-main-nav--dark {
	background-color: $AU-colordark-background;
	border-bottom-color: $AU-colordark-foreground-action;

	.active a {
		border-color: $AU-colordark-background;

		&:hover {
			border-color: $AU-colordark-background-shade;
		}
	}

	a {
		color: $AU-colordark-foreground-action;
		@include AU-focus( dark );
		&:hover {
			color: $AU-colordark-foreground-text;
			background-color: $AU-colordark-background-shade;
		}
	}
}


.au-main-nav--alt.au-main-nav--dark {
	background-color: $AU-colordark-background-alt;

	.active a {
		border-color: $AU-colordark-background-alt;

		&:hover {
			border-color: $AU-colordark-background-alt-shade;
		}
	}

	a:hover {
		background-color: $AU-colordark-background-alt-shade;
	}
}



// Always hide unless there is javascript
.au-main-nav__toggle {
	display: none;
	cursor: pointer;
}


.no-js .au-main-nav__toggle {
	display: none;
}


.js {
	.au-main-nav__content {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 80%;
		z-index: 10;
		background: $AU-color-background;
		transform: translateX( -100% );
		// transition: transform 0.15s ease-in-out;

		@include AU-media( md ) {
			position: static;
			transform: none;
			display: block;
			width: auto;
			overflow: inherit;
		}
	}

	.au-main-nav__content.au-main-nav--open {
		transform: none;
	}

	// Show the toggle for mobile dimensions
	.au-main-nav__toggle {
		display: inline-block;

		@include AU-media( md ) {
			display: none;
		}
	}
}





// Delete this now
body {
	margin: 0;
	background: grey;

	img {
		max-width: 100%;
	}

	.au-main-nav {
		margin-top: 200px;
	}
}
