//sass-versioning
// @import '../../../core/node_modules/sass-versioning/dist/_index.scss';

//dependencies
@import '../../../core/src/sass/_module.scss';
@import '../../../body/src/sass/_module.scss';

//this module
@import '../../src/sass/_module.scss';

//version check with sass-versioning
@include versioning-check();
