//sass-versioning
@import '../../../core/node_modules/sass-versioning/dist/_index.scss';

//dependencies
@import '../../../core/lib/sass/_module.scss';
@import '../../../animate/lib/sass/_module.scss';

//this module
@import '../../lib/sass/_module.scss';

//version check with sass-versioning
@include versioning-check();
