//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// accordion module
// Allow the user to toggle the visibility of an element
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// accordion wrapper
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-accordion {
	display: block;
	border: 1px solid $AU-color-Border;
	font-family: $AU-font;
	color: $AU-color-Text;
	margin-bottom: AU-space( 1 );
	padding: 0;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.au-accordion + .au-accordion {
	border-top: 0;
	margin-top: -( AU-space( 1 ) );
}

.au-body .au-accordion__title,
.au-accordion__title {
	@include AU-fontsize( md, heading );
	display: block;
	color: $AU-color-Action;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	font-weight: bold;
	padding: AU-space( 0.75 ) AU-space( 2.5 ) AU-space( 0.75 ) AU-space( 0.75 );
	background-color: $AU-color-Background;
	position: relative;
	cursor: pointer;
	border: 3px solid transparent;

	&:hover {
		background-color: $AU-color-Background-light;
		text-decoration: underline;
		text-decoration-skip: ink;
		color: $AU-color-Text;
		&:after {
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
				'	<path fill="#{ $AU-color-Text }" d="M64 0l64 64-16 16-64-64"/>' +
				'	<path fill="#{ $AU-color-Text }" d="M64 0l16 16-64 64L0 64"/>' +
				'</svg>');
		}
	}

	&:focus {
		outline: none;
		border: 3px solid $AU-color-Focus;
	}

	// remove the default details arrow icon
	&::-webkit-details-marker {
		display: none;
	}

	&:after {
		content: ' ';
		position: absolute;
		top: 0;
		bottom: 0;
		right: AU-space( 1 );
		width: AU-space( 0.75 );
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
			'	<path fill="#{ $AU-color-Action }" d="M64 0l64 64-16 16-64-64"/>' +
			'	<path fill="#{ $AU-color-Action }" d="M64 0l16 16-64 64L0 64"/>' +
			'</svg>');
		background-repeat: no-repeat;
		background-position: center;
		z-index: 0;
		transition: transform 0.25s ease-in;
	}

	&.au-accordion--closed:after {
		transform: rotate(-180deg);
	}

	.ie8 &,
	.lt-ie8 & {
		&:after {
			content: ' ▼ ';
			margin-top: AU-space( 0.75 );
		}

		&.au-accordion--open:after {
			content: ' ▲ ';
		}
	}
}

.au-accordion__body {
	overflow: hidden;

	// only listen to the state classes if js is enabled
	.js & {
		&.au-accordion--open {
			display: block;
			height: auto;
		}

		&.au-accordion--closed {
			display: none;
			height: 0;
		}
	}
}

.au-accordion__body-wrapper {
	padding: AU-space( 0.75 );
	border-top: 1px solid $AU-color-Border;
}


.au-accordion--dark {
	border-color: $AU-colordark-Border;
	color: $AU-colordark-Text;

	.au-body .au-accordion__title,
	.au-accordion__title {
		color: $AU-colordark-Action;
		background-color: $AU-colordark-Background;

		&:hover {
			background-color: $AU-colordark-Background-light;
			color: $AU-colordark-Text;
			&:after {
				background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
					'	<path fill="#{ $AU-colordark-Text }" d="M64 0l64 64-16 16-64-64"/>' +
					'	<path fill="#{ $AU-colordark-Text }" d="M64 0l16 16-64 64L0 64"/>' +
					'</svg>');
			}
		}

		&:focus {
			border-color: $AU-colordark-Focus;
		}

		&:after{
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
				'	<path fill="#{ $AU-colordark-Action }" d="M64 0l64 64-16 16-64-64"/>' +
				'	<path fill="#{ $AU-colordark-Action }" d="M64 0l16 16-64 64L0 64"/>' +
				'</svg>');
		}
	}

	.au-accordion__body-wrapper {
		border-color: $AU-colordark-Border;
	}
}
