//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// direction-links module
// Use direction links to link up and down within the DOM or back to a parent page.
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
	.au-direction-link {
		color: #000 !important;
	}

	.au-direction-link__arrow--right:after {
		content: '→' !important;
	}

	.au-direction-link__arrow--left:before {
		content: '←' !important;
	}

	.au-direction-link__arrow--up:after {
		content: '↑' !important;
	}

	.au-direction-link__arrow--down:after {
		content: '↓' !important;
	}
}
