//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// direction-links module
// Use direction links to link up and down within the DOM or back to a parent page.
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
	.au-direction-link {
		color: #000 !important;
	}

	.au-direction-right:after {
		content: '→' !important;
	}

	.au-direction-link--left:before {
		content: '←' !important;
	}

	.au-direction-link--up:after {
		content: '↑' !important;
	}

	.au-direction-link--down:after {
		content: '↓' !important;
	}
}
