//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// horizontal-list module
// Horizontal style displays 1 column of list items.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Horizontal list styles.
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.uikit-list--horizontal {
  margin-top: uikit-space( 2 );

  li {
    max-width: $uikit-maxwidth;
  }

  & > li {
    border-bottom: solid 1px $uikit-colour-Border;
    display: flex;
    padding: uikit-space( 1 ) 0;
    width: 100%;

    .uikit-body & {
      margin: 0;
    }

    //------------------------------------------------------------------------------------------------------------------------------------------------------------
    // Hero list item.
    //------------------------------------------------------------------------------------------------------------------------------------------------------------
    &.uikit-list--hero-item {
      border-top: 1px solid $uikit-colour-Border;

      figure,
      .uikit-list--figure {
        @extend %uikit-list--figure;

        flex-basis: 65%;
      }
    }
    //------------------------------------------------------------------------------------------------------------------------------------------------------------
    // END.
    //------------------------------------------------------------------------------------------------------------------------------------------------------------
  }

  figure,
  .uikit-list--figure {
    @extend %uikit-list--figure;
  }

  article {
    flex-grow: 2;
  }

  h3,
  h4,
  h5 {
    font-size: 1.5em;
    margin: 0 0 uikit-space(0.4);
  }

  .uikit-list--meta {
    margin-bottom: uikit-space( 0.8 );
    font-size: 87.5%;

    time,
    .uikit-list--meta--time {
      display: inline-block;
      margin-right: uikit-space( 0.8 );
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

}
