//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// select module
// The form select element for multiple options
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// select style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-select {
	@include AU-space( margin-bottom, .5unit );
	position: relative;
	vertical-align: middle;
	display: inline-block;
	background-color: $AU-color-Background-light;
	box-sizing: border-box;
	border-radius: $AU-border-radius;

	&:after {
		@include AU-space( right, 0.75unit );
		@include AU-space( width, 1unit );
		@include AU-space( height, 1unit );
		@include AU-space( margin-top, -.5unit );
		content: ' ';
		position: absolute;
		top: 50%;
		background-image: AU-svguri('<svg fill="#{ $AU-color-Action }" viewBox="6 5 12 12" xmlns="http://www.w3.org/2000/svg">
				<path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
				<path d="M0-.75h24v24H0z" fill="none"/>
			</svg>');
		background-repeat: no-repeat;
		z-index: 100;
	}

	.ie8 &,
	.ie9 & {
		&:after {
			display: none;
		}
	}


	&.au-select-block {
		display: block;

		.au-select__element {
			width: 100%;
		}
	}
}

.au-select__element {
	@include AU-fontgrid( sm );
	@include AU-space( padding, 0.75unit 2.25unit 0.75unit 0.75unit );
	position: relative;
	z-index: 100;
	background: transparent;
	appearance: none;
	font-family: $AU-font;
	color: $AU-color-Text;
	text-indent: 0.01px;
	text-overflow: '';
	border: 3px solid $AU-color-Border;
	border-radius: $AU-border-radius;
	box-sizing: border-box;
	cursor: pointer;
	margin: 0; // Remove margin for useragent styles that browsers add ( safari ), layout margins should go on .au-select

	@include AU-focus();

	&:focus {
		border-radius: 0;
		outline-offset: 0;
	}

	// Hide the arrow on disabled, because we can't change parent element styles
	&[disabled] {
		cursor: not-allowed;
		background-color: $AU-color-Background;
		color: $AU-color-Muted;
		border-color: $AU-color-Background;
	}

	&:disabled {
		cursor: not-allowed;
		background-color: $AU-color-Background;
		color: $AU-color-Muted;
		border-color: $AU-color-Background;
	}

	//ie hacks
	&::-ms-expand {
		display: none;
	}

	.ie8 &,
	.ie9 & {
		@include AU-space( padding-right, .25unit );
	}

	.au-select--dark & {
		border-color: $AU-colordark-Text;
		@include AU-focus( 'dark' );

		&[disabled] {
			background-color: $AU-colordark-Background;
			color: $AU-colordark-Muted;
			border-color: $AU-colordark-Background;
		}

		&:disabled {
			background-color: $AU-colordark-Background;
			color: $AU-colordark-Muted;
			border-color: $AU-colordark-Background;
		}
	}
}

//firefox hacks...
//=================
// https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff
.au-select__element:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
}

html>/**/body .au-select__element, x:-moz-any-link, x:default {
	@include AU-space( padding-right, 1unit );
}

@supports (-moz-osx-font-smoothing:auto) {
	html body .au-select__element {
		@include AU-space( padding-right, 2.25unit );
	}
}
