//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// select module
// The form select element for multiple options
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// select style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-select {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	background-color: #fff;
	margin-bottom: AU-space( 0.5 );
	box-sizing: border-box;

	&:after {
		content: ' ';
		position: absolute;
		top: 50%;
		right: AU-space( 0.5 );
		width: AU-space( 0.5 );
		height: AU-space( 0.5 );
		margin-top: -( AU-space( 0.25 ) );
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
				<path fill="#{ $AU-colordark-Background-light }" d="M64 128l64-64-16-16-64 64"/>
				<path fill="#{ $AU-colordark-Background-light }" d="M64 128l16-16-64-64L0 64"/>
			</svg>');
		background-repeat: no-repeat;
		z-index: 0;
	}

	.ie8 &,
	.ie9 & {
		&:after {
			display: none;
		}
	}


	&.au-select-block {
		display: block;

		.au-select__element {
			width: 100%;
		}
	}
}

.au-select__element {
	position: relative;
	z-index: 1;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: $AU-font;
	color: $AU-color-Text;
	font-size: 16px;
	text-indent: 0.01px;
	text-overflow: '';
	border: none;
	padding: AU-space( 0.25 ) AU-space( 1.5 ) AU-space( 0.25 ) AU-space( 0.25 );
	border: 2px solid $AU-color-Border;
	border-radius: $AU-border-radius;
	box-sizing: border-box;

	@include AU-focus();

	&:disabled {
		cursor: not-allowed;
		background: rgba( $AU-color-Background, 0.5 );
		color: $AU-color-Text;
	}

	//ie hacks
	&::-ms-expand {
		display: none;
	}

	.ie8 &,
	.ie9 & {
		padding-right: AU-space( 0.25 );
	}
}

//firefox hacks...
html>/**/body .au-select__element, x:-moz-any-link, x:default {
	padding-right: AU-space( 0.25 );
}

@supports (-moz-osx-font-smoothing:auto) {
	html body .au-select__element {
		padding-right: AU-space( 1.5 );
	}
}
