//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// select module
// The form select element for multiple options
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
	.au-select__element {
		border-color: #000 !important;
	}

	.au-select:after {
		background-image: transparent !important;
		content: "˅" !important;
	}
}
