//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
// @import '../../../body/lib/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';

label {
	display: block;
}
