//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// inpage-nav module
// Use inpage-nav links to help users scan and jump to content of a page.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// inpage-nav style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-inpage-nav-links {
	margin: AU-space( 2 ) 0;
	border-left: 4px solid $AU-color-Action;
	padding-left: AU-space( 1 );

	.au-body & > ul,
	.au-body & > ol {
		list-style-type: none;
		margin: AU-space( 0.5 ) 0 0;
		padding: 0;

		> li {
			margin-left: 0;
			margin-bottom: AU-space( 0.5 );

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.au-inpage-nav-links__heading {
	font-weight: bold;
	font-size: 1em;
}

.au-inpage-nav-section {
	position: relative;
	padding-right: 120px;
}

.au-inpage-nav-section-link {
	position: absolute;
	top: AU-space( 0.25 );
	right: 0;
	font-size: 14px;
	font-weight: normal;
}


.au-inpage-nav-links--dark {
	border-color: $AU-colordark-Action;
}

