//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// inpage-nav module
// Use inpage-nav links to help users scan and jump to content of a page.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// inpage-nav style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-inpage-nav-links {
	margin: uikit-space( 2 ) 0;
	border-left: uikit-space( 0.25 ) solid $uikit-colour-Background-30;
	padding: 0 0 uikit-space( 0.5 ) uikit-space( 0.75);

	.uikit-body & > ul,
	.uikit-body & > ol {
		list-style-type: none;
		margin: uikit-space( 1 ) 0 0;
		padding: 0;

		> li {
			margin-left: 0;
			margin-bottom: uikit-space( 0.5 );
			font-weight: bold;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.uikit-inpage-nav-links__heading {
	color: $uikit-colour-Text-70;
}
