//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// department-list module
// A navigation list style for listing many departments.
//
// Content:
// - Department list style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Contents links style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.uikit-department-list {

	.uikit-body & > li {
		list-style: none;
		margin-left: 0;
		margin-bottom: uikit-space( 1 );
	}

	a {
		font-size: 28px;
		font-weight: bold;
		line-height: ($uikit-leading * 0.875);

		> span {
			display: block;
			font-size: 0.642em; //18 from 28
		}
	}
}
