//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// headings module
// Class styles for display headings.
//
// Content:
// - loop that generates .display-[1…6]
// - modifications and additions to those .display-[1–6] classes
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// HEADINGS/DISPLAY STYLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * Generates .au-display-[1…6] classes for display headings.
 *
 * The magic number here reduces the leading for these heading displays, since
 * the body text leading is too large at headings/display sizes.
 *
 * We also set the font-size automatically too. (:
 */


$sizes: xs, sm, md, lg, xl, xxl, xxxl;

@for $i from 1 through 7 {
	.au-display-#{ nth( $sizes, $i ) } {
		@include AU-fontsize( nth( $sizes, $i ) , heading );
		font-family: $AU-font;
		display: block;
		margin: 0;
		margin-top: 1rem;
		font-weight: bold;
	}

	p + .au-display-#{ nth( $sizes, $i ) } {
		margin-top: AU-space( 1 );
	}
}

.au-display-xxxl {
	font-weight: normal;
}
