//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// headings module
// Class styles for display headings.
//
// Content:
// - Basic styles for all headings
// - Unique styles for individual headings
// - Typographic spacing for .au-body only
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// HEADINGS/DISPLAY STYLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * Generates .au-display-[1…6] classes for display headings.
 *
 * The magic number here reduces the leading for these heading displays, since
 * the body text leading is too large at headings/display sizes.
 *
 * We also set the font-size automatically too. (:
 */


/**
 * Basic styles for all headings
 */
.au-display-xxxl,
.au-display-xxl,
.au-display-xl,
.au-display-lg,
.au-display-md,
.au-display-sm,
.au-display-xs,
.au-body h1,
.au-body h2,
.au-body h3,
.au-body h4,
.au-body h5,
.au-body h6 {
	font-family: $AU-font;
	display: block;
	font-weight: bold;
	margin: 0;

	*+& {
		@include AU-space( margin-top, 1unit );
	}
}


/**
 * Unique styles for individual headings
 */
.au-display-xxxl {
	@include AU-fontgrid( xxl, heading );
}

.au-body h1,
.au-display-xxl {
	@include AU-fontgrid( xxl, heading );
}

.au-body h2,
.au-display-xl {
	@include AU-fontgrid( xl, heading );
}

.au-body h3,
.au-display-lg {
	@include AU-fontgrid( lg, heading );
}

.au-body h4,
.au-display-md {
	@include AU-fontgrid( md, heading );
}

.au-body h5,
.au-display-sm {
	@include AU-fontgrid( sm, heading );
}

.au-body h6,
.au-display-xs {
	@include AU-fontgrid( xs, heading );
}

/**
 * Typographic spacing for AU-body only
 * Larger space for larger headings has been added to improve legibility in large blocks of text.
 * This provides area's of eye-rest and uses spacing to create visual sections
 * Also ref. https://github.com/govau/uikit/issues/282
 */
.au-body {
	*+h1 {
	 	@include AU-space( margin-top, 3unit );
	}
	*+h2 {
		@include AU-space( margin-top, 3unit );
	}
	*+h3 {
		@include AU-space( margin-top, 2unit );
	}
	h1+h2,
	h2+h3 {
		@include AU-space( margin-top, 1unit );
	}
}
