//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
// @import '../../../body/lib/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// split style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.split-wrapper {
	overflow: hidden;
}

.split {
	@include AU-media( sm ) {
		width: 48%;
		float: left;
		padding: 0 1%;
	}
}
