//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// searchbox module
//
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


.au-search {

	display: table;
	width: 100%;

	&__label {
		@include AU-sronly();
	}

	.au-text-input {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		border-right: 0;
		max-width: 100%;
		position: relative;
		display: table-cell;
		vertical-align: top;

		.ie8 & {
			display: block;
			table-layout:fixed;
		}
	}

	.au-search__button {
		position: relative;
		display: table-cell;
		vertical-align: top;
		width: 1%;
	}

	.au-btn {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;

		&--dark {
			border-left: solid 2px lightgrey !important;
		}
	}

	&.au-search--icon {
		@extend %search-btn;

		.au-search__submit-btn-text {
			@include AU-sronly();
		}
	}

	&.au-search--responsive {
			@extend %search-btn;

			@include AU-media( xs ) {
				.au-btn {
					background-image: none;
				}
			}

		.au-search__submit-btn-text {
			@media screen and ( max-width: 576px) {
				@include AU-sronly();
			}
		}
	}
}
