//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// footer module
// Footers help users who reach the bottom of a page without finding what they want.
//
// Content:
// - Footer styles
//   -Basic footer block styling
//   - Footer `nav` navigation styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import 'globals.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Footer styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * Basic footer block styling.
 */
.uikit-footer {
	background-color: $uikit-colour-Background-20;
	border-top: 6px solid $uikit-colour-Beta;
	padding: uikit-space( 1 ) uikit-space( 1 ) uikit-space( 2 );
}


/**
 * Footer `nav` navigation styling.
 */
.uikit-footer__navigation {
	padding-bottom: uikit-space( 1 );
	border-bottom: $uikit-border-style;
	margin-bottom: uikit-space( 1 );
}
