/*! [replace-name] v[replace-version] */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// table module globals
// Used to display tabular data
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: "[replace-name]";
$version: "[replace-version]";
$dependencies: (
	[replace-dependencies]
);

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.

// Light palette
$AU-color-table-head-border: #AAA;
$AU-color-table-row-border: #CCC;
$AU-color-table-row: #F1F1F1;
$AU-color-table-row-alt: #E0E0E0;


// Dark palette
$AU-colordark-table-row: #135E70;
$AU-colordark-table-row-alt: #104f5f;
