//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// table module
// Used to display tabular data
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


.au-table {
		@include AU-fontgrid( sm, 'default' );
		font-family: $AU-font;

		border-collapse: collapse;
		border-spacing: 0;

		caption {
			display: table-caption;
			font-weight: bold;
			text-align: left;
		}

		thead {
			display: table-header-group;
			border-bottom: solid 2px $AU-color-table-head-border;
		}

		tbody {
			display: table-row-group;
		}

		tr {
			display: table-row;
		}

		th,
		td {
			@include AU-space( padding, 0.5unit );

			border-bottom: 1px solid $AU-color-table-row-border;
			text-align: left;

			&:focus {
					outline: 3px solid #C390F9;
			}
		}

	&--striped {
		tr:nth-child(even) {
			background-color: $AU-color-table-row;
		}
	}
}
