//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// table module
// Used to display tabular data
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


.au-table {
		@include AU-fontgrid( sm, 'default' );
		font-family: $AU-font;

		border-collapse: collapse;
		border-spacing: 0;

		.au-table__caption {
			display: table-caption;
			font-weight: bold;
			text-align: left;
		}

		.au-table__head {
			display: table-header-group;
			border-bottom: solid 3px $AU-color-table-head-border;

			.au-table__header {
				text-align: left;
				@include AU-space( padding, 0.75unit );

				& .au-table__header--width-xs {
					width: 10%;
				}

				&.au-table__header--width-sm {
					width: 20%;
				}

				&.au-table__header--width-md {
					width: 25%;
				}

				&.au-table__header--width-lg {
					width: 50%;
				}

				//SECOND RELEASE
				// &.au-table__header--align-right {
				// 	text-align: right;
				// }

				&:focus {
					outline: 3px solid #C390F9;
				}
			}
		}

		.au-table__body {
			display: table-row-group;
		}

		.au-table__row {
			display: table-row;
		}

		.au-table__cell {
			@include AU-space( padding, 0.75unit );
			text-align: left;

			border-bottom: 1px solid $AU-color-table-row-border;

			&:focus {
					outline: 3px solid #C390F9;
			}
		}

	&--striped .au-table__body {
		.au-table__row:nth-child(even) {
			background-color: $AU-color-table-row;
		}
	}
}
