//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// table module
// Table definitions for the UI Kit.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';

.uikit--content-table,
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  thead {
    border-bottom: solid 2px $uikit-colour-Table-Head-Border;
  }

  th {
    font-weight: bold;
  }

  th,
  td {
    border-bottom: 1px solid $uikit-colour-Table-Row-Border;
    padding: uikit-space(0.4);
    text-align: left;

    @include uikit-media("lg") {
      padding: uikit-space(0.8);
    }
  }

  tr:nth-child(even) {
    background: $uikit-colour-Table-Row;
  }


  //----------------------------------------
  // Responsive Tables.
  //----------------------------------------
  @media (max-width: $uikit-media-md) {
    border: 0;

    thead {
      display: none;
    }

    tr {
      border-bottom: solid 2px $uikit-colour-Table-Head-Border;
      display: block;
      margin-bottom: uikit-space(1);
    }

    td {
      border-bottom: 1px dotted $uikit-colour-Table-Row-Border;
      display: block;
      text-align: right;

      &:last-child {
        border-bottom: 0;
      }

      &:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
      }
    }
  }
}
