//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// table module
// Table includes styling for arranging data in rows and columns
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
}
