//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// control-input module
// Control inputs include radio buttons and checkboxes. They allow users to select one or more options.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// control inputs
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-control-input {
	display: inline-block;
	position: relative;
}

.uikit-control-input__input {
	display: inline-block;
	line-height: $uikit-leading;
	margin: 0 0px 0 7px;

	// CHECKBOXES
	&[type=checkbox] {
		& + .uikit-control-input__text:after {
			background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
					<path fill="#{ $uikit-colour-Text }" d="M0 0h128v128H0z"/>
					<rect x="19" y="79" width="414" height="414"/>
					<path fill="#fff" d="M8 8h112v112H8z"/>
				</svg>');
		}

		&:checked + .uikit-control-input__text:after {
			background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
					<path fill="#{ $uikit-colour-Text }" d="M0 0h128v128H0z"/>
					<rect x="19" y="79" width="414" height="414"/>
					<path fill="#fff" d="M8 8h112v112H8z"/>
					<path fill="#{ $uikit-colour-Text }" d="M16 16h96v96H16z"/>
					<path fill="#fff" d="M102.59 45.41c.778-.778.782-2.038-.002-2.822l-9.176-9.176c-.78-.78-2.052-.772-2.823 0L56 68 41.42
						53.42c-.784-.784-2.048-.792-2.832-.008l-9.176 9.176c-.78.78-.775 2.05-.004 2.82l25.184 25.184c.778.778 2.04.775 2.82-.003l45.177-45.18z"/>
				</svg>');
		}

		// CHECKBOXES FULL VARIATION
		.uikit-control-input--full > & {
			& + .uikit-control-input__text:after {
				background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
						<path fill="#{ $uikit-colour-Text }" d="M0 0h128v128H0z"/>
						<path fill="#fff" d="M8 8h112v112H8z"/>
					</svg>');
			}

			&:checked + .uikit-control-input__text:after {
				background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
						<path fill="#{ $uikit-colour-Text }" d="M0 0h128v128H0z"/>
						<path fill="#fff" d="M8 8h112v112H8z"/>
						<path fill="#{ $uikit-colour-Text }" d="M16 16h96v96H16z"/>
					</svg>');
			}
		}
	}

	// RADIOS
	&[type=radio] {
		& + .uikit-control-input__text:after {
			background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
					<circle fill="#{ $uikit-colour-Text }" cx="64" cy="64" r="64"/>
					<circle fill="#fff" cx="64" cy="64" r="56"/>
				</svg>');
		}

		&:checked + .uikit-control-input__text:after {
			background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
					<circle fill="#{ $uikit-colour-Text }" cx="64" cy="64" r="64"/>
					<circle fill="#fff" cx="64" cy="64" r="56"/>
					<circle fill="#{ $uikit-colour-Text }" cx="64" cy="64" r="44"/>
				</svg>');
		}
	}

	&:checked + .uikit-control-input__text {
		font-weight: bold;
	}

	&:focus + .uikit-control-input__text {
		outline: 4px auto #000; //fallback
		outline: 4px auto -webkit-focus-ring-color;
	}
}

/**
 * The label text
 */
.uikit-control-input__text {
	font-family: $uikit-font-system;
	color: $uikit-colour-Text;
	line-height: $uikit-leading;
	font-size: 17px;
	margin-left: 12px;

	&:after {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 27px;
		height: 27px;
		background-repeat: no-repeat;
	}
}
