//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// breadcrumbs module
// Breadcrumbs help users understand where they are in the service and how they got there.
//
// Content:
// - sass-versioning
// - globals
// - normalize
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import 'globals.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Breadcrumb styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.breadcrumbs {
	display: none;
	width: 100%;
	margin: 0;

  @include uikit-media(sm) {
    display: inline-block;
  }

  ul {
    margin: 0;
    padding: uikit-space(0.25) 0 uikit-space(0.5);
    list-style: none;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 14px;

      &:not(:last-child) {
        // @extend %icon-arrow-right;

        margin-right: uikit-space(0.25);
        padding-right: uikit-space(0.5);
        background-repeat: no-repeat;
        background-position: right;
        // background-size: uikit-space(0.1) auto;
      }
    }
  }

  &.breadcrumbs--inverted {
  //   //@include link-colours($link-inverted-colour, $link-inverted-colour--hover, $link-colour);
	//
  //   // background-color: transparent;
  //   // color: $body-inverted-text-colour;
	//
  //   ul {
  //     li:not(:last-child) {
  //       // @extend %icon-arrow-right--white;
	//
  //       // color: $body-inverted-text-colour;
  //     }
  //   }
  }
}
