/*! [replace-name] v[replace-version] */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// grid module globals
// Provides Neat (Bourbon) grid system.
//
// Content:
// - Sass versioning
// - Importing Bourbon-Neat
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: "[replace-name]";
$version: "[replace-version]";
$dependencies: (
	[replace-dependencies]
);

@include versioning-add( $name, $version, $dependencies ); //adding dependencies to global scope


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Importing Bourbon-Neat: http://neat.bourbon.io/
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '../../node_modules/bourbon-neat/app/assets/stylesheets/neat';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
