//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
// @import '../../../body/lib/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Grid boxes
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.grids {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(rebeccapurple, 0.2);
	text-align: center;

	> span {
		display: block;
		background-color: rgba(rebeccapurple, 0.7);
	}
}

// We’re undoing these test page styles in order to properly test the grid.
body {
	padding-left: 0;
	padding-right: 0;
}

// Same here.
h1 {
	margin-left: uikit-space( 0.5 );
}

.test-link { //have to to make it look awesome again
	margin-left: uikit-space( 1 );
}
