@import '../../../core/lib/sass/module.scss'; //dependency: core
@import '../../../../.templates/test-assets/style.scss'; //test file stylesheet

@import 'module.scss';
@include versioning-check();

.grids {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(rebeccapurple, 0.2);
	text-align: center;

	> span {
		display: block;
		background-color: rgba(rebeccapurple, 0.7);
	}
}

body {
	padding-left: 0;
	padding-right: 0;
}

h1 {
	margin-left: 2em;
}
