//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
@import '../../../headings/lib/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';

.testing {
	border: 3px dashed hotpink;
}
