//dependencies
// @import '../../src/sass/_dependencies.scss';

//testing includes
// @import '../../../core/node_modules/sass-versioning/dist/_index.scss';
@import '../../../core/src/sass/_module.scss';
@import '../../../grid-12/src/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';


.au-dropdown-example {
	background-color: hotpink;
	background-color: rebeccapurple;
	@include AU-space( margin-top, 1unit );
}


.test-link { //have to to make it look awesome again
	@include AU-space( margin-left, 1unit );
}
