//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
@import '../../../grid-12/lib/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';


.uikit-dropdown-example {
	background-color: hotpink;
	background-color: rebeccapurple;
	margin-bottom: 1em;
}

// We’re undoing these test page styles in order to properly test the grid.
body {
	padding-left: 0;
	padding-right: 0;
}

.test-link { //have to to make it look awesome again
	margin-left: uikit-space( 1 );
}
