//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// header module
// Headers provide a consistent start to pages.
//
// Content:
// - Header styles
// - Logo container styling
// - Logomark styling
// - Logotype styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Header styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * Basic header block styling.
 */
.au-header {
	@include AU-space( padding, 1.5 0 2 0 ); // 0.5 for optical alignment
	@include AU-space( margin-bottom, 2 );
	font-family: $AU-font;
	color: $AU-color-Text;
	background: $AU-color-Background-light;

	&.au-header--hero {
		@include AU-space( padding, 3 0 3.5 0 );
	}

	@include AU-media( sm ) {
		@include AU-space( padding, 3 0 3.5 0 );

		&.au-header--hero {
			@include AU-space( padding, 6 0 6.5 0 );
		}
	}

	&.au-header--alt {
		background-color: $AU-color-Background;
	}

	&.au-header--dark {
		color: $AU-colordark-Text;
		background-color:  $AU-colordark-Background-light;
	}

	&.au-header--dark.au-header--alt {
		background-color:  $AU-colordark-Background-dark;
	}
}

.au-header-heading {
	@include AU-fontsize ( md );
	font-weight: bold;
	margin: 0;
	padding: 0;

	@include AU-media( sm ) {
		@include AU-fontsize ( xxl, heading );
	}
}

.au-header-subline {
	@include AU-fontsize ( sm );
	max-width: $AU-maxwidth;

	@include AU-media( sm ) {
		@include AU-fontsize ( md );
	}
}
