//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// header module
// Headers provide a consistent start to pages.
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
	.au-header {
		color: #000 !important;
		background: #fff !important;
	}

	.au-header-brand-logo {
		display: none;
	}
}
