/*! [replace-name] v[replace-version] */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Core module globals
//
// Content:
// - variables
//   - breakpoints
//   - max width line length
//   - colours
// - mixins
//   - media query
//   - sr-only
// - functions
//   - space
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
@import '../../node_modules/sass-versioning/dist/index.scss';

$name: "[replace-name]";
$version: "[replace-version]";
$dependencies: (
	[replace-dependencies]
);

@include versioning-add( $name, $version, $dependencies ); //adding dependencies to global scope

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$uikit-media-xs: 576px !global; //media query breakpoints
$uikit-media-sm: 768px !global;
$uikit-media-md: 992px !global;
$uikit-media-lg: 1200px !global;

$uikit-leading: 1.6;

$uikit-font: 'Open Sans', Verdana, 'Bitstream Vera Sans', sans-serif;
$uikit-font-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
$uikit-font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$uikit-maxwidth: 42em; //Answer to life, the universe, and everything (keeps things readable on wide viewports).

$uikit-colour-Hero: #115361 !global; //color variables (yes! the actual spelling doesn't have a u)
$uikit-colour-Primary: #880e48 !global;
$uikit-colour-Background: #f0f3f5 !global;
$uikit-colour-Border: mix(black, #bebebe, 50) !global;
$uikit-colour-Text: #313131 !global;
$uikit-colour-Link: #5bcbe3 !global;
$uikit-colour-Alpha: #e6efc2 !global;
$uikit-colour-Beta: #043751 !global;

$uikit-colour-Error: #cc0000 !global;
$uikit-colour-Success: #007554 !global;
$uikit-colour-Warning: #f9c642 !global;
$uikit-colour-Info: #00bfe9 !global;

$uikit-colour-Hero-90: mix(white, $uikit-colour-Hero, 10) !global; //tints of the colors
$uikit-colour-Hero-80: mix(white, $uikit-colour-Hero, 20) !global;
$uikit-colour-Hero-70: mix(white, $uikit-colour-Hero, 30) !global;
$uikit-colour-Hero-60: mix(white, $uikit-colour-Hero, 40) !global;
$uikit-colour-Hero-50: mix(white, $uikit-colour-Hero, 50) !global;
$uikit-colour-Hero-40: mix(white, $uikit-colour-Hero, 60) !global;
$uikit-colour-Hero-30: mix(white, $uikit-colour-Hero, 70) !global;
$uikit-colour-Hero-20: mix(white, $uikit-colour-Hero, 80) !global;
$uikit-colour-Hero-10: mix(white, $uikit-colour-Hero, 90) !global;
$uikit-colour-Hero-5: mix(white, $uikit-colour-Hero, 95) !global;

$uikit-colour-Primary-90: mix(white, $uikit-colour-Primary, 10) !global;
$uikit-colour-Primary-80: mix(white, $uikit-colour-Primary, 20) !global;
$uikit-colour-Primary-70: mix(white, $uikit-colour-Primary, 30) !global;
$uikit-colour-Primary-60: mix(white, $uikit-colour-Primary, 40) !global;
$uikit-colour-Primary-50: mix(white, $uikit-colour-Primary, 50) !global;
$uikit-colour-Primary-40: mix(white, $uikit-colour-Primary, 60) !global;
$uikit-colour-Primary-30: mix(white, $uikit-colour-Primary, 70) !global;
$uikit-colour-Primary-20: mix(white, $uikit-colour-Primary, 80) !global;
$uikit-colour-Primary-10: mix(white, $uikit-colour-Primary, 90) !global;
$uikit-colour-Primary-5: mix(white, $uikit-colour-Primary, 95) !global;

$uikit-colour-Background-90: mix(white, $uikit-colour-Background, 10) !global;
$uikit-colour-Background-80: mix(white, $uikit-colour-Background, 20) !global;
$uikit-colour-Background-70: mix(white, $uikit-colour-Background, 30) !global;
$uikit-colour-Background-60: mix(white, $uikit-colour-Background, 40) !global;
$uikit-colour-Background-50: mix(white, $uikit-colour-Background, 50) !global;
$uikit-colour-Background-40: mix(white, $uikit-colour-Background, 60) !global;
$uikit-colour-Background-30: mix(white, $uikit-colour-Background, 70) !global;
$uikit-colour-Background-20: mix(white, $uikit-colour-Background, 80) !global;
$uikit-colour-Background-10: mix(white, $uikit-colour-Background, 90) !global;
$uikit-colour-Background-5: mix(white, $uikit-colour-Background, 95) !global;

$uikit-colour-Border-90: mix(white, $uikit-colour-Border, 10) !global;
$uikit-colour-Border-80: mix(white, $uikit-colour-Border, 20) !global;
$uikit-colour-Border-70: mix(white, $uikit-colour-Border, 30) !global;
$uikit-colour-Border-60: mix(white, $uikit-colour-Border, 40) !global;
$uikit-colour-Border-50: mix(white, $uikit-colour-Border, 50) !global;
$uikit-colour-Border-40: mix(white, $uikit-colour-Border, 60) !global;
$uikit-colour-Border-30: mix(white, $uikit-colour-Border, 70) !global;
$uikit-colour-Border-20: mix(white, $uikit-colour-Border, 80) !global;
$uikit-colour-Border-10: mix(white, $uikit-colour-Border, 90) !global;
$uikit-colour-Border-5: mix(white, $uikit-colour-Border, 95) !global;

$uikit-colour-Text-90: mix(white, $uikit-colour-Text, 10) !global;
$uikit-colour-Text-80: mix(white, $uikit-colour-Text, 20) !global;
$uikit-colour-Text-70: mix(white, $uikit-colour-Text, 30) !global;
$uikit-colour-Text-60: mix(white, $uikit-colour-Text, 40) !global;
$uikit-colour-Text-50: mix(white, $uikit-colour-Text, 50) !global;
$uikit-colour-Text-40: mix(white, $uikit-colour-Text, 60) !global;
$uikit-colour-Text-30: mix(white, $uikit-colour-Text, 70) !global;
$uikit-colour-Text-20: mix(white, $uikit-colour-Text, 80) !global;
$uikit-colour-Text-10: mix(white, $uikit-colour-Text, 90) !global;
$uikit-colour-Text-5: mix(white, $uikit-colour-Text, 95) !global;

$uikit-colour-Link-90: mix(white, $uikit-colour-Link, 10) !global;
$uikit-colour-Link-80: mix(white, $uikit-colour-Link, 20) !global;
$uikit-colour-Link-70: mix(white, $uikit-colour-Link, 30) !global;
$uikit-colour-Link-60: mix(white, $uikit-colour-Link, 40) !global;
$uikit-colour-Link-50: mix(white, $uikit-colour-Link, 50) !global;
$uikit-colour-Link-40: mix(white, $uikit-colour-Link, 60) !global;
$uikit-colour-Link-30: mix(white, $uikit-colour-Link, 70) !global;
$uikit-colour-Link-20: mix(white, $uikit-colour-Link, 80) !global;
$uikit-colour-Link-10: mix(white, $uikit-colour-Link, 90) !global;
$uikit-colour-Link-5: mix(white, $uikit-colour-Link, 95) !global;

$uikit-colour-Alpha-90: mix(white, $uikit-colour-Alpha, 10) !global;
$uikit-colour-Alpha-80: mix(white, $uikit-colour-Alpha, 20) !global;
$uikit-colour-Alpha-70: mix(white, $uikit-colour-Alpha, 30) !global;
$uikit-colour-Alpha-60: mix(white, $uikit-colour-Alpha, 40) !global;
$uikit-colour-Alpha-50: mix(white, $uikit-colour-Alpha, 50) !global;
$uikit-colour-Alpha-40: mix(white, $uikit-colour-Alpha, 60) !global;
$uikit-colour-Alpha-30: mix(white, $uikit-colour-Alpha, 70) !global;
$uikit-colour-Alpha-20: mix(white, $uikit-colour-Alpha, 80) !global;
$uikit-colour-Alpha-10: mix(white, $uikit-colour-Alpha, 90) !global;
$uikit-colour-Alpha-5: mix(white, $uikit-colour-Alpha, 95) !global;

$uikit-colour-Beta-90: mix(white, $uikit-colour-Beta, 10) !global;
$uikit-colour-Beta-80: mix(white, $uikit-colour-Beta, 20) !global;
$uikit-colour-Beta-70: mix(white, $uikit-colour-Beta, 30) !global;
$uikit-colour-Beta-60: mix(white, $uikit-colour-Beta, 40) !global;
$uikit-colour-Beta-50: mix(white, $uikit-colour-Beta, 50) !global;
$uikit-colour-Beta-40: mix(white, $uikit-colour-Beta, 60) !global;
$uikit-colour-Beta-30: mix(white, $uikit-colour-Beta, 70) !global;
$uikit-colour-Beta-20: mix(white, $uikit-colour-Beta, 80) !global;
$uikit-colour-Beta-10: mix(white, $uikit-colour-Beta, 90) !global;
$uikit-colour-Beta-5: mix(white, $uikit-colour-Beta, 95) !global;

$uikit-colour-Error-90: mix(white, $uikit-colour-Error, 10) !global;
$uikit-colour-Error-80: mix(white, $uikit-colour-Error, 20) !global;
$uikit-colour-Error-70: mix(white, $uikit-colour-Error, 30) !global;
$uikit-colour-Error-60: mix(white, $uikit-colour-Error, 40) !global;
$uikit-colour-Error-50: mix(white, $uikit-colour-Error, 50) !global;
$uikit-colour-Error-40: mix(white, $uikit-colour-Error, 60) !global;
$uikit-colour-Error-30: mix(white, $uikit-colour-Error, 70) !global;
$uikit-colour-Error-20: mix(white, $uikit-colour-Error, 80) !global;
$uikit-colour-Error-10: mix(white, $uikit-colour-Error, 90) !global;
$uikit-colour-Error-5: mix(white, $uikit-colour-Error, 95) !global;

$uikit-colour-Success-90: mix(white, $uikit-colour-Success, 10) !global;
$uikit-colour-Success-80: mix(white, $uikit-colour-Success, 20) !global;
$uikit-colour-Success-70: mix(white, $uikit-colour-Success, 30) !global;
$uikit-colour-Success-60: mix(white, $uikit-colour-Success, 40) !global;
$uikit-colour-Success-50: mix(white, $uikit-colour-Success, 50) !global;
$uikit-colour-Success-40: mix(white, $uikit-colour-Success, 60) !global;
$uikit-colour-Success-30: mix(white, $uikit-colour-Success, 70) !global;
$uikit-colour-Success-20: mix(white, $uikit-colour-Success, 80) !global;
$uikit-colour-Success-10: mix(white, $uikit-colour-Success, 90) !global;
$uikit-colour-Success-5: mix(white, $uikit-colour-Success, 95) !global;

$uikit-colour-Warning-90: mix(white, $uikit-colour-Warning, 10) !global;
$uikit-colour-Warning-80: mix(white, $uikit-colour-Warning, 20) !global;
$uikit-colour-Warning-70: mix(white, $uikit-colour-Warning, 30) !global;
$uikit-colour-Warning-60: mix(white, $uikit-colour-Warning, 40) !global;
$uikit-colour-Warning-50: mix(white, $uikit-colour-Warning, 50) !global;
$uikit-colour-Warning-40: mix(white, $uikit-colour-Warning, 60) !global;
$uikit-colour-Warning-30: mix(white, $uikit-colour-Warning, 70) !global;
$uikit-colour-Warning-20: mix(white, $uikit-colour-Warning, 80) !global;
$uikit-colour-Warning-10: mix(white, $uikit-colour-Warning, 90) !global;
$uikit-colour-Warning-5: mix(white, $uikit-colour-Warning, 95) !global;

$uikit-colour-Info-90: mix(white, $uikit-colour-Info, 10) !global;
$uikit-colour-Info-80: mix(white, $uikit-colour-Info, 20) !global;
$uikit-colour-Info-70: mix(white, $uikit-colour-Info, 30) !global;
$uikit-colour-Info-60: mix(white, $uikit-colour-Info, 40) !global;
$uikit-colour-Info-50: mix(white, $uikit-colour-Info, 50) !global;
$uikit-colour-Info-40: mix(white, $uikit-colour-Info, 60) !global;
$uikit-colour-Info-30: mix(white, $uikit-colour-Info, 70) !global;
$uikit-colour-Info-20: mix(white, $uikit-colour-Info, 80) !global;
$uikit-colour-Info-10: mix(white, $uikit-colour-Info, 90) !global;
$uikit-colour-Info-5: mix(white, $uikit-colour-Info, 95) !global;

$uikit-border: 1px solid $uikit-colour-Border;
$uikit-border-radius: 3px;


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL MIXINS
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * Create media queries and wraps the @content code inside of it
 *
 * @param  {keywords} $breakpoint - Either one of the following keywords: xs, sm, md, lg
 * @return {string}               - The code passed in via @content wrapped inside a media query
 */
@mixin uikit-media( $breakpoint ) {
	@if type-of( $breakpoint ) != 'string' {
		@error "Captain I'm giving it all she's got but: the uikit-media mixin only takes a string!";
	}

	@if( $breakpoint == "xs" ) {
		@media (min-width: $uikit-media-xs) {
			@content;
		}
	}

	@if( $breakpoint == "sm" ) {
		@media (min-width: $uikit-media-sm) {
			@content;
		}
	}

	@if( $breakpoint == "md" ) {
		@media (min-width: $uikit-media-md) {
			@content;
		}
	}

	@if( $breakpoint == "lg" ) {
		@media (min-width: $uikit-media-lg) {
			@content;
		}
	}
}


/**
 * Hide an element from the screen but not a screen reader
 */
@mixin uikit-sronly() {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}


/**
 * Return a space value based on the line-height and the unit em
 *
 * @param  {number} $number - The space as a multiplier of line-height
 * @param  {number} $number - The line-height [optional]
 * @return {number}         - The space in ems
 */
@function uikit-space( $number, $line-height: $uikit-leading ) {
	@if type-of( $number ) != 'number' {
		@error "I'm sorry Dave, I can't do that; the uikit-space function only takes a number!";
	}

	@if type-of( $number ) == 'number' and not unitless( $number ) {
		$number: $number / ($number * 0 + 1);
	}

	$space: $number * $line-height;

	@return #{ $space }em;
}
