//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
@import '../../../body/src/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';


.test-class {
	border: 2px dotted rebeccapurple;

	.au-body--dark & {
		border-color: pink;
	}

	&.test-class--mod {
		border-color: hotpink;
	}
}

.additional-class {
	border: 1px dashed rebeccapurple;

	.au-body--dark & {
		border-color: pink;
	}
}
