//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
@import '../../../body/lib/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';

.au-tags + span {
	@include AU-space( margin-top, 1unit );
	display: block;
}

.testing {
	border: 3px dashed hotpink;
}
