//dependencies
@import '../../../core/lib/sass/_module.scss';
@import '../../../body/lib/sass/_module.scss';
@import '../../../link-lists/lib/sass/module.scss';

//testing includes

//this module
@import '_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';

//version check with sass-versioning
@include versioning-check();
