//dependencies
$AU-media-xs: 0px;
$AU-media-sm: 576px; // media query breakpoints
$AU-media-md: 768px;
$AU-media-lg: 992px;
$AU-media-xl: 1200px;

@import '../../../core/src/sass/_module.scss';

//this module
@import '_module.scss';
