//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// side-nav module
// A vertical list of links for site navigation typically placed next to the body content.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
@import '_globals.scss';
@import '_print.scss';


.au-body .au-side-nav,
.au-side-nav {
	@include AU-clearfix();
	@include AU-fontgrid( sm );
	overflow: hidden;
	font-family: $AU-font;
	color: $AU-color-foreground-text;

	ul,
	li {
		margin: 0;
	}

	a {
		@include AU-focus();

		&:focus {
			outline-offset: -3px; // Accordion body adds overflow hidden, this counters it
		}
	}

	// Apply a border bottom to the first menu
	& > .au-link-list {
		border-bottom: 1px solid $AU-color-foreground-border;
	}

	.au-link-list {
		@include AU-side-nav-indent( $AU-side-nav-depth, 1 );
		padding: 0;

		a {
			@include AU-fontgrid( xs );
			@include AU-space( padding, 1unit );
			border-top: 1px solid $AU-color-foreground-border;
			display: block;

			&:hover {
				background: $AU-color-background-shade;
			}
		}

		// Active styles, li is added to keep background transparent on different colour schemes
		li.active {
			@include AU-space( border-left, $AU-color-foreground-action solid 0.25unit );

			a {
				@include AU-space( margin-left, -0.25unit );
				font-weight: bold;
				text-decoration: none;
				color: $AU-color-foreground-text;

				&:hover {
					background: transparent;
				}
			}
		}
	}

	.au-accordion__title {
		background: $AU-color-foreground-action;
		color: $AU-color-background;
		border-radius: $AU-border-radius;

		&:after {
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
				'	<path fill="#{ $AU-color-background }" d="M64 0l64 64-16 16-64-64"/>' +
				'	<path fill="#{ $AU-color-background }" d="M64 0l16 16-64 64L0 64"/>' +
				'</svg>');
		}
	}
}

// Alternate colour styles
.au-body.au-body--alt .au-side-nav,
.au-side-nav.au-side-nav--alt {
	.au-link-list a:hover {
		background: $AU-color-background-alt-shade;
	}
}

// Dark colour styles
.au-body.au-body--dark .au-side-nav,
.au-side-nav.au-side-nav--dark {
	a {
		@include AU-focus( 'dark' );

		&:focus {
			outline-offset: -3px; // Accordion body adds overflow hidden, this counters it
		}
	}

	.au-link-list {
		a {
			border-color: $AU-colordark-foreground-border;

			&:hover {
				background: $AU-colordark-background-shade;
			}
		}

		.active {
			border-color: $AU-colordark-foreground-action;

			a {
				color: $AU-colordark-foreground-text;
			}
		}
	}

	.au-accordion__title {
		background: $AU-colordark-foreground-action;
		color: $AU-colordark-background;

		&:after {
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
				'	<path fill="#{ $AU-colordark-background }" d="M64 0l64 64-16 16-64-64"/>' +
				'	<path fill="#{ $AU-colordark-background }" d="M64 0l16 16-64 64L0 64"/>' +
				'</svg>');
		}
	}
}

// Dark alternate colour styles
.au-body.au-body-dark.au-body--alt .au-side-nav,
.au-side-nav.au-side-nav--dark.au-side-nav--alt {
	.au-link-list a:hover {
		background: $AU-colordark-background-alt-shade;
	}
}



// Title above navigation
.au-sidenav__title {
	@include AU-space( padding-left, 1unit );
	display: block;
	color: $AU-color-foreground-text;
	text-decoration: none;
}

// Always hide unless there is javascript
.au-side-nav__toggle {
	display: none;
}


// Show the content for desktop
.js {
	.au-side-nav__content {
		@include AU-space( padding, 0 1unit 1unit );
		border-bottom-left-radius: $AU-border-radius;
		border-bottom-right-radius: $AU-border-radius;
		border-left: 2px solid $AU-color-foreground-border;
		border-bottom: 2px solid $AU-color-foreground-border;
		border-right: 2px solid $AU-color-foreground-border;

		@include AU-media( sm ){
			border: 0;
			border-radius: 0;
			padding: 0;
		}
	}

	.au-body.au-body--dark .au-side-nav .au-side-nav__content,
	.au-side-nav.au-side-nav--dark .au-side-nav__content {
		border-color: $AU-colordark-foreground-border;
	}

	.au-side-nav__content.au-accordion--closed {
		display: none;

		@include AU-media( sm ){
			display: block;
			height: auto;
		}
	}

	// Show the toggle for mobile dimensions
	.au-side-nav__toggle {
		display: block;

		&.au-accordion--open {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		@include AU-media( sm ){
			display: none;
		}
	}
}
