//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// side-nav module
// A vertical list of links for site navigation typically placed next to the body content.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
@import '_globals.scss';
@import '_print.scss';


.au-side-nav {
	@include AU-fontgrid( sm );
	background-color: $AU-color-background-alt;
	border-radius: $AU-border-radius;
	overflow: hidden;

	a {
		@include AU-space( padding, 1unit );
		@include AU-fontgrid( xs );
		color: $AU-color-foreground-muted;
		display: block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-skip: ink;
			background-color: $AU-color-background-alt-shade;
		}
	}

	.au-link-list {
		padding: 0;

		li {
			margin: 0;
		}
	}

	.au-accordion__title {
		@include AU-fontgrid( sm );
		font-weight: normal;
	}

	.au-side-nav__content {
		@include AU-space( margin, 0 1unit );

		ul {
			@include AU-side-nav-indent( 3 );
		}

		.active a {
			font-weight: bold;
			color: $AU-color-foreground-text;
		}

		ul ul ul a {
			&:before {
				content: " ";
				@include AU-space( width, 1unit );
				@include AU-space( height, 1unit );
				@include AU-space( background-size, 1unit );
				@include AU-space( margin-left, -1.5unit );
				display: block;
				float: left;
				background-repeat: no-repeat;
				background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">' +
					'<path fill="#{ $AU-color-foreground-border }" d="M2 10h12v1H2zM2 5h1v5H2z"/>' +
				'</svg>');
			}
		}

		& > ul > li {
			border-bottom: 1px solid $AU-color-foreground-border;

			&:last-of-type {
				border: none;
			}
		}
	}

	.au-sidenav__title {
		margin: 0;

		a {
			@include AU-fontgrid( sm );
			color: $AU-color-foreground-text;
			border-bottom: 2px solid $AU-color-foreground-border;
		}
	}

	@include AU-media( sm ){
		background: transparent;
		border-radius: 0;
		overflow: visible;

		// Open the menu on desktop
		.au-accordion__body.au-accordion--closed {
			display: block;
			height: auto;
		}

		a:hover {
			background-color: $AU-color-background-shade;
		}

		.au-accordion__title {
			display: none;
		}
	}
}


.au-side-nav.au-side-nav--alt {
	background: $AU-color-background;

	a:hover {
		background: $AU-color-background-shade;
	}

	@include AU-media( sm ){
		background: transparent;

		a:hover {
			background-color: $AU-color-background-alt-shade;
		}
	}
}


.au-side-nav.au-side-nav--dark {
	background: $AU-colordark-background-alt;

	a {
		color: $AU-colordark-foreground-muted;

		&:hover {
			background: $AU-colordark-background-alt-shade;
		}
	}

	.au-side-nav__content {
		.active a {
			color: $AU-colordark-foreground-text;
		}

		ul ul ul a:before {
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">' +
				'<path fill="#{ $AU-colordark-foreground-border }" d="M2 10h12v1H2zM2 5h1v5H2z"/>' +
			'</svg>');
		}

		& > ul > li {
			border-color: $AU-colordark-foreground-border;
		}
	}

	.au-sidenav__title a {
		border-color: $AU-colordark-foreground-border;
		color: $AU-colordark-foreground-text;
	}

	@include AU-media( sm ){
		background: transparent;

		a:hover {
			background-color: $AU-colordark-background-shade;
		}
	}
}

.au-side-nav.au-side-nav--dark.au-side-nav--alt {
	background: $AU-colordark-background;

	a:hover {
		background: $AU-colordark-background-shade;
	}

	@include AU-media( sm ){
		background: transparent;

		a:hover {
			background-color: $AU-colordark-background-alt-shade;
		}
	}
}
