//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// side-nav module
// A vertical list of links for site navigation typically placed next to the body content.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
@import '_globals.scss';
@import '_print.scss';


.au-side-nav {

	ul {
		.au-body & {
			padding-top: 0;
		}
	}

	li {
		margin: 0;
	}

	.au-link-list {
		@include AU-side-nav-indent( $AU-side-nav-depth, 1 );

		a {
			@include AU-fontgrid( xs );
			@include AU-space( padding, 1unit );
			display: block;
		}
	}
}



// // Fix the border-top border-bottom combo
// li + li,
// a + ul {
// 	margin-top: -1px;
// }

// a {
// 	@include AU-fontgrid( xs );
// 	@include AU-space( padding, 1unit );
// 	border-top: solid 1px $AU-color-foreground-border;
// 	border-bottom: solid 1px $AU-color-foreground-border;

// 	&:hover {
// 		background-color: $AU-color-background-alt;
// 	}
// }

// .active a {
// 	border-left: solid 4px $AU-color-foreground-action;
// 	color: $AU-color-foreground-text;

// 	&:hover {
// 		background: transparent;
// 		text-decoration: none;
// 	}

// @include AU-side-nav-spacing( $AU-side-nav-depth );
