//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
@import '../../../body/lib/sass/_module.scss';
@import '../../../grid-12/lib/sass/_module.scss';
@import '../../../buttons/lib/sass/_module.scss';
@import '../../../select/lib/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';


.no-a11y-test {
	display: none;
}

.height-test {
	position: relative;
	margin: 2em 0;
	padding: 0 2em;
	text-align: center;
	background-image: linear-gradient(
		90deg,
		transparent 79px,
		transparent 79px,
		transparent 81px,
		transparent 81px
		), linear-gradient(
		lighten( $AU-color-Border, 30% ) .1em,
		transparent .1em
	);
	background-size: 100% 4px;

	&:after {
		content: 'Alignment test';
		position: absolute;
		left: 1em;
		top: -1em;
		font-family: $AU-font;
	}

	.no-a11y-test {
		display: inline;
	}
}
