//dependencies
@import '../../src/sass/_dependencies.scss';

//testing includes
@import '../../../body/lib/sass/_module.scss';
@import '../../../grid-12/lib/sass/_module.scss';

//styling all test files
@import '../../../../.templates/test-assets/_style.scss';


.no-a11y-test {
	display: none;
}
