@import '../../../core/dist/sass/module.scss';
@import 'module.scss';
@include versioning-check();

body {
	padding: uikit-space(4) uikit-space(2) uikit-space(2) uikit-space(2);
	overflow-x: hidden;//For Opera apparently.
	box-shadow:
		inset $uikit-colour-Info-20 0 uikit-space(3) 0 0,
		inset $uikit-colour-Info-20 0 0 0 uikit-space(1);

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: repeating-linear-gradient(
			-45deg,
			#222,
			#222 10px,
			#333 10px,
			#333 20px
		);
		padding: uikit-space(0.5) uikit-space(2) uikit-space(0.5) uikit-space(1);
		content: "📃 Test file";
		font-family: $uikit-monospace;
		color: white;
	}
}
