//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// link-lists module
// A simple list of inline links.
//
// Content:
// - .inline-links
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Link-list styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * Block of links.
 */
.au-link-list {
	@include AU-fontgrid( sm );
	display: block;
	list-style-type: none;
	margin: 0;
	@include AU-space( padding, 0.25unit 0 );

	.au-body & {
		margin: 0;
		@include AU-space( padding, 0.25unit 0 );
	}

	> li {
		display: block;
		@include AU-space( margin, 0.25unit );
	}

	&.au-link-list--inline {
		display: inline-block;

		> li {
			display: inline-block;
		}
	}
}
