//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// card module
// A container for all types of content
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
}
