//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// link-lists module
// A simple list of inline links.
//
// Content:
// - .inline-links, .inline-links--inverted
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import 'globals.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Link-list styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.inline-links,
.inline-links--inverted {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: uikit-space(0.5) 0;

	> li {
		display: inline-block;
		margin: 0 uikit-space(0.25);
	}

	//anchor styles from body not coming across

	&--inverted {
		background-color: invert($uikit-colour-Background); //Prob. worth ammending body module’s colours?

		a {
			color: invert($uikit-colour-Text); //These may need to change once body’s anchor styles come through.

			&:hover,
			&:focus {
				background-color: $uikit-colour-Link;
				color: $uikit-colour-Text;
			}
		}
	}
}
