//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// pagination module
// Pagination allows large amounts of content to be separated into multiple pages.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';

.au-pagination{
  @include AU-fontgrid( xs );
  font-family: $AU-font;

  &.au-pagination-left{

    text-align: left;
  }

  &.au-pagination-right{
text-align: right;

  }

  &.au-pagination-center{
text-align: center;
  }
    .au-pagination-item {
        display: inline-block;
        text-decoration: none;
        margin: 0.3rem;
        &:focus {
          outline: 0;
        } 

    }

    .au-pagination-link {
      color: $AU-color-foreground-action;
      padding: 0;
      text-decoration: none;
      height: 46px;
      min-width: 46px;
      align-items: center;
      justify-content: center;
      display: flex;
          &:hover {
            text-decoration: none;
            color: $AU-color-foreground-text;
            outline: 3px solid #d3d3d3;
          } 

          & .current {
            color: #0B0C0C;
            font-weight: 700;
            border: none;
            pointer-events: none;
            cursor: default;
          }
        
    }

    .au-pagination-link--quick-jumper {
     font-size: 2rem;
     line-height: 0.5rem;
    }

    .au-pagination-controls-link{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  
    .disabled {
		  pointer-events:none;
      cursor: not-allowed;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      opacity: 0.5;
    }

    .active a {
      color: $AU-color-foreground-text;
      outline: 3px solid #d3d3d3;
  
    } 

    .pagination-summary {
      opacity: 0.5;
  .pagination-summary {
      color: #6f777b;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      @include AU-space(margin-top, 3unit);
      margin-bottom: 8px;
  }
}
}