//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// pagination module
// Pagination allows large amounts of content to be separated into multiple pages.
//
// Content:
// - sass-versioning
// - globals
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';

.au-pagination{
  
    .au-pagination__item{
      @include AU-fontgrid( sm );
        display: inline-block;
        text-decoration: none;

        &:focus {
          outline: 0;
        } 
    }

    .au-pagination__controls{
      

    }

    .au-pagination__link{
      color: $AU-color-foreground-action;
      display: inline-block;
      padding: 0.7rem 1.1rem 0.7rem 1.1rem;
      margin-right: 0.2rem;
      text-decoration: none;

          &:hover {
            text-decoration: none;
            color: $AU-color-foreground-text;
            outline: 3px solid #d3d3d3;
            padding: 0.7rem 1.1rem 0.7rem 1.1rem;
          } 

          &.current {
            color: #0B0C0C;
            font-weight: 700;
            border: none;
            pointer-events: none;
            cursor: default;
          }
        
    }

    .au-pagination__link__quick-jumper {
     font-size: 2rem;
     line-height: 0.5rem;
    }
  
    .disabled {
		  pointer-events:none;
      cursor: not-allowed;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      opacity: 0.5;
    }

    .active a {
      color: $AU-color-foreground-text;
      outline: 3px solid #d3d3d3;
  
    } 
}