body {
	background: #fff;
	margin: 0;
	padding: AU-space( 4 ) AU-space( 1 ) AU-space( 2 ) AU-space( 1 );
	overflow-x: hidden; //For Opera apparently.

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: repeating-linear-gradient(
			-45deg,
			#222,
			#222 10px,
			#333 10px,
			#333 20px
		);
		padding: AU-space( 0.5 ) AU-space( 2 ) AU-space( 0.5 ) AU-space( 1 );
		content: "📃 Test file";
		font-family: $AU-font-monospace;
		color: white;
	}
}

.test-link {
	font-family: $AU-font;
}

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// split style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.split-wrapper {
	overflow: hidden;
}

.split {
	padding: 1%;
	@include AU-media( sm ) {
		width: 48%;
		float: left;
	}
}

.dark {
	background: $AU-colordark-Background-light;
	color: $AU-colordark-Text;
}
