body {
	background: $AU-color-Background-light;
	color: $AU-color-Text;
	margin: 0;
	@include AU-space( padding, 6 1.5 2 1.5 );
	overflow-x: hidden; //For Opera apparently.

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: repeating-linear-gradient(
			-45deg,
			#222,
			#222 10px,
			#333 10px,
			#333 20px
		);
		@include AU-space( padding, 1.5 );
		@include AU-fontsize( sm, nospace );
		content: "📃 Test file";
		font-family: $AU-font-monospace;
		color: white;
	}
}

.test-link {
	font-family: $AU-font;
}

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// split style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.split-wrapper {
	overflow: hidden;
}

.split {
	padding: 1%;

	&--dark {
		background: $AU-colordark-Background-light;
		color: $AU-colordark-Text;
	}

	@include AU-media( sm ) {
		width: 48%;
		float: left;
	}
}



@media print {
	body,
	.split--dark {
		background: #fff !important;
		color: #000 !important;
	}
}

