//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// page-alerts module
// Use page alerts to notify users of important information and state changes to the page.
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
	.uikit-page-alerts {
		border-color: #000 !important;
		background-color: #fff !important;
		border-left: 2px solid #000 !important;
		padding-top: 3em !important;

		&:after {
			background: none !important;
			content: 'info' !important;
			top: 1em !important;
			left: 0 !important;
			font-size: 12px;
			border-right: 1px solid #000 !important;
			border-bottom: 1px solid #000 !important;
			padding: 0.5em;
			width: auto !important;
		}
	}

	.uikit-page-alerts--success:after {
		content: 'success' !important;
	}

	.uikit-page-alerts--warning:after {
		content: 'warning' !important;
	}

	.uikit-page-alerts--error:after {
		content: 'error' !important;
	}
}
