/*! [replace-name] v[replace-version] */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Body module globals
//
// Content:
// - SASS versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: "[replace-name]";
$version: "[replace-version]";
$dependencies: (
	[replace-dependencies]
);



//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
