//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Body module
//
// Content:
// - Body styles
//   - body
//   - anchor (a)
//   - mark
//   - ::selection (highlight colour)
//   - paragraphs
//   - sorted and unsorted lists
//   - list items
//   - definition lists, terms and definitions
//   - emphasis, bolding, etc.
//   - editorial markup (eg. ins and del)
//   - strong and small
//   - first definition (dfn)
//   - abbreviations (abbr)
//   - variables (var) and nested indices (sup and sub)
//   - pre-formatted text and nested code, kbd, samp
//   - code
//   - keyboard strokes (kbd)
//   - horizontal rules (hr)
//
// Thinking: primarily we want to target these: https://w3c.github.io/html/textlevel-semantics.html
//
// From there:
// - provide good, legible basics
// - provide a vertical rhythm based on content size
// - cater for a common and semantic nesting
// - keep styling to a minimum
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// BODY STYLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-body {
	@include AU-fontgrid( sm );
	margin: 0;
	text-size-adjust: 100%;
	font-family: $AU-font;
	color: $AU-color-foreground-text;
	background-color: $AU-color-background;

	a {
		color: $AU-color-foreground-action;
		text-decoration: underline;
		text-decoration-skip: ink;

		&[rel~='external']:after {
			content: ' ';
			display: inline-block;
			width: 0.7em;
			height: 0.85em;
			margin: 0 0.1em -0.02em 0.25em;
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
					'<path fill="#{ $AU-color-foreground-action }" d="M24.002 8C15.155 8 8 15.164 8 24.002v79.996C8 112.845 15.164 120 24.002 120h79.996c8.847 0 16.002-7.164 16.002-16.002V82.005c0-1.107-.895-2.005-1.994-2.005h-12.012c-1.1 0-1.994.893-1.994 1.995v16.008c0 3.312-2.685 5.997-5.997 5.997H29.997C26.685 104 24 101.315 24 98.003V29.997C24 26.685 26.685 24 29.997 24h16.008C47.107 24 48 23.105 48 22.006V9.994C48 8.894 47.103 8 45.995 8H24.002z"/>' +
					'<path fill="#{ $AU-color-foreground-action }" d="M127.416.584c-.36-.36-.86-.584-1.41-.584H73.994C72.904 0 72 .893 72 1.994v12.012c0 1.1.892 1.994 1.993 1.994H96L49.41 62.59c-.777.777-.774 2.046.01 2.83l13.16 13.16c.793.793 2.052.788 2.83.01L112 32v22.007c0 1.09.893 1.993 1.994 1.993h12.012c1.1 0 1.994-.892 1.994-1.993V1.993c0-.545-.223-1.043-.584-1.405V.584z"/>' +
				'</svg>');
			background-repeat: no-repeat;
			background-position-y: 0.12em;

			.ie8 &,
			.lt-ie8 & {
				content: '⇗';
				color: $AU-color-foreground-action;
			}
		}

		&:hover {
			color: $AU-color-foreground-text;
			text-decoration: none;

			&[rel~='external']:after {
				background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
					'<path fill="#{ $AU-color-foreground-text }" d="M24.002 8C15.155 8 8 15.164 8 24.002v79.996C8 112.845 15.164 120 24.002 120h79.996c8.847 0 16.002-7.164 16.002-16.002V82.005c0-1.107-.895-2.005-1.994-2.005h-12.012c-1.1 0-1.994.893-1.994 1.995v16.008c0 3.312-2.685 5.997-5.997 5.997H29.997C26.685 104 24 101.315 24 98.003V29.997C24 26.685 26.685 24 29.997 24h16.008C47.107 24 48 23.105 48 22.006V9.994C48 8.894 47.103 8 45.995 8H24.002z"/>' +
					'<path fill="#{ $AU-color-foreground-text }" d="M127.416.584c-.36-.36-.86-.584-1.41-.584H73.994C72.904 0 72 .893 72 1.994v12.012c0 1.1.892 1.994 1.993 1.994H96L49.41 62.59c-.777.777-.774 2.046.01 2.83l13.16 13.16c.793.793 2.052.788 2.83.01L112 32v22.007c0 1.09.893 1.993 1.994 1.993h12.012c1.1 0 1.994-.892 1.994-1.993V1.993c0-.545-.223-1.043-.584-1.405V.584z"/>' +
				'</svg>');

				.ie8 &,
				.lt-ie8 & {
					content: '⇗';
					color: $AU-color-foreground-text;
				}
			}
		}

		@include AU-focus();
	}


	/**
	 * Highlighting in-page sections that are in focus
	 */
	[tabindex="0"]:focus,
	:target {
		@include AU-outline();
	}

	/**
	 * `mark` styling.
	 */
	mark {
		color: $AU-color-background;
		background-color: $AU-color-foreground-action;
	}

	/**
	 * Text selection styling
	 */
	::selection {
		color: $AU-color-background;
		background-color: rgba( $AU-color-foreground-action, 0.99 );
		// Why RGBA 0.99? https://stackoverflow.com/a/7224621
	}

	// Decrease the opacity for certain elements
	img::selection,
	video::selection,
	iframe::selection {
		background-color: rgba( $AU-color-foreground-action, 0.75 );
	}

	/**
	 * Vertical spacing of common text elements.
	 */
	p {
		max-width: $AU-maxwidth;
		margin: 0;
	}

	* + p {
		@include AU-space( margin-top, 1.5unit );
	}

	ul:not([class]),
	ol:not([class]),
	dl:not([class]),
	pre {
		margin: 0; //reset defaults
	}

	* + ul:not([class]),
	* + ol:not([class]),
	* + dl:not([class]),
	* + pre {
		@include AU-space( margin-top, 1.5unit );
	}

	ul:not([class]),
	ol:not([class]) {
		> li {
			@include AU-space( margin-top, 0.5unit );

			> ul:not([class]),
			> ol:not([class]) {
				@include AU-space( margin-top, 0.5unit );
			}
		}

		> ul:not([class]) {
			list-style-type: disc;
		}
	}

	dl:not([class]) {
		> dd {
			@include AU-space( margin-top, 0.5unit );
			@include AU-space( padding-left, 0.5unit );
			margin-left: 0;
			border-left: solid 1px;
		}

		> dt {
			@include AU-space( margin-top, 1.5unit );
			font-weight: bold;

			&:first-of-type {
				margin-top: 0;
			}
		}
	}

	.written-by:after {
		content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHZpZXdCb3g9IjAgMCA2NTggMTgiPjx0ZXh0IHg9IjEzIiB5PSIxMyIgZm9udC1zaXplPSIxMyI+TWVzc3JzLCBEb20sIFBhZ2V5LCBUcmViLCBQYXQgYW5kIEtsZXBhcyBhcmUgcHJvdWQgdG8gcHJlc2VudCB0aGUgR09MRCBkZXNpZ24gc3lzdGVtLiAtIE1pc2NoaWVmIG1hbmFnZWQ8L3RleHQ+PC9zdmc+');
		color: #BADA55;
	}

	/**
	 * Emphasis and alt. voice/mood/diff. from prose text.
	 */
	em,
	i {
		font-style: italic;
	}

	/**
	 * Stong emphasis.
	 */
	strong,
	b {
		font-weight: bold;
	}


	/**
	 * `small`: for less important information (not stylistic purposes).
	 */
	small {
		@include AU-fontgrid( xs );
	}


	/**
	 * `s`: represents contents no longer accurate/relevant.
	 * del` & `ins`: editorial markup.
	 */
	s,
	del {
		text-decoration: line-through;
	}

	ins {
		text-decoration-line: underline;
		text-decoration-style: dashed; //Waiting on Chrome.
		text-decoration-skip: ink;
	}


	/**
	 * Defining definition of a term.
	 *
	 * The paragraph, description list group, or section that is the nearest
	 * ancestor of the `dfn` element must also contain the definition(s) for the term
	 * given by the `dfn` element.
	 *
	 * Note: `abbr` can be nested inside `dfn`.
	 */
	dfn {
		font-style: normal;
	}


	/**
	 * Abbreviations/acronyms.
	 */
	abbr,
	abbr[title] {
		border-bottom: none;
		text-decoration: underline;
		text-decoration: underline dotted;
	}

	abbr[title] {
		cursor: help;
	}

	a abbr {
		padding-bottom: 1px;
	}


	/**
	 * Variables, eg. as used in mathematical expressions.
	 *
	 * We also provide semantic support for nested vars, and things like indices.
	 */
	var {
		padding: 0 1px;
		font-style: italic;
		font-family: serif; //We want mathematical notation to use serif vars per convention.

		sup,
		sub {
			font-family: $AU-font;
			font-style: normal;
			padding: 0 1px;
		}
	}


	/**
	 * Prevent `sub` and `sup` elements from affecting the line height in
	 * all browsers.
	 * https://github.com/necolas/normalize.css/blob/master/normalize.css#L174
	 */
	sub,
	sup {
		@include AU-fontgrid( xs, nospace );
		position: relative;
		vertical-align: baseline;
	}

	sub {
		bottom: -0.25em;
	}

	sup {
		top: -0.5em;
	}


	/**
	 * Keyboard strokes.
	 * Code snippets and code blocks.
	 */
	kbd,
	code,
	samp {
		@include AU-fontgrid( xs );
		@include AU-space( padding, 0.25unit );
		font-family: $AU-font-monospace;
		display: inline-block;
		border-radius: $AU-border-radius;
		background-color: $AU-color-background-shade;
		color: $AU-color-foreground-text;
	}

	pre {
		font-family: $AU-font-monospace;
	}

	pre code {
		@include AU-space( padding, 0.5unit );
		display:block;
		tab-size: 4;
	}


	/**
	 * Horizontal rule, used for paragraph-level thematic breaks.
	 */
	hr {
		box-sizing: content-box;
		height: 0;
		overflow: visible;
		border: none;
		border-top: 1px solid $AU-color-foreground-border;
		@include AU-space( margin-bottom, 1.5unit );
	}

	* + hr {
		@include AU-space( margin-top, 1.5unit );
	}


	/**
	 *  Body colour schemes
	 */
	&.au-body--alt {
		background: $AU-color-background-alt;

		kbd,
		code,
		samp {
			background-color: $AU-color-background-alt-shade;
		}
	}

	&.au-body--dark {
		background: $AU-colordark-background;
		color: $AU-colordark-foreground-text;

		::selection {
			color: $AU-colordark-background;
			background-color: rgba( $AU-colordark-foreground-action, 0.99 );
			// Why RGBA 0.99? https://stackoverflow.com/a/7224621
		}

		// Decrease the opacity for certain elements
		img::selection,
		video::selection,
		iframe::selection {
			background-color: rgba( $AU-colordark-foreground-action, 0.75 );
		}

		a {
			color: $AU-colordark-foreground-action;

			&[rel~='external']:after {
				background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
					'<path fill="#{ $AU-colordark-foreground-action }" d="M24.002 8C15.155 8 8 15.164 8 24.002v79.996C8 112.845 15.164 120 24.002 120h79.996c8.847 0 16.002-7.164 16.002-16.002V82.005c0-1.107-.895-2.005-1.994-2.005h-12.012c-1.1 0-1.994.893-1.994 1.995v16.008c0 3.312-2.685 5.997-5.997 5.997H29.997C26.685 104 24 101.315 24 98.003V29.997C24 26.685 26.685 24 29.997 24h16.008C47.107 24 48 23.105 48 22.006V9.994C48 8.894 47.103 8 45.995 8H24.002z"/>' +
					'<path fill="#{ $AU-colordark-foreground-action }" d="M127.416.584c-.36-.36-.86-.584-1.41-.584H73.994C72.904 0 72 .893 72 1.994v12.012c0 1.1.892 1.994 1.993 1.994H96L49.41 62.59c-.777.777-.774 2.046.01 2.83l13.16 13.16c.793.793 2.052.788 2.83.01L112 32v22.007c0 1.09.893 1.993 1.994 1.993h12.012c1.1 0 1.994-.892 1.994-1.993V1.993c0-.545-.223-1.043-.584-1.405V.584z"/>' +
				'</svg>');

				.ie8 &,
				.lt-ie8 & {
					color: $AU-colordark-foreground-action;
				}
			}

			&:hover {
				color: $AU-colordark-foreground-text;

				&[rel~='external']:after {
					background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
						'<path fill="#{ $AU-colordark-foreground-text }" d="M24.002 8C15.155 8 8 15.164 8 24.002v79.996C8 112.845 15.164 120 24.002 120h79.996c8.847 0 16.002-7.164 16.002-16.002V82.005c0-1.107-.895-2.005-1.994-2.005h-12.012c-1.1 0-1.994.893-1.994 1.995v16.008c0 3.312-2.685 5.997-5.997 5.997H29.997C26.685 104 24 101.315 24 98.003V29.997C24 26.685 26.685 24 29.997 24h16.008C47.107 24 48 23.105 48 22.006V9.994C48 8.894 47.103 8 45.995 8H24.002z"/>' +
						'<path fill="#{ $AU-colordark-foreground-text }" d="M127.416.584c-.36-.36-.86-.584-1.41-.584H73.994C72.904 0 72 .893 72 1.994v12.012c0 1.1.892 1.994 1.993 1.994H96L49.41 62.59c-.777.777-.774 2.046.01 2.83l13.16 13.16c.793.793 2.052.788 2.83.01L112 32v22.007c0 1.09.893 1.993 1.994 1.993h12.012c1.1 0 1.994-.892 1.994-1.993V1.993c0-.545-.223-1.043-.584-1.405V.584z"/>' +
						'</svg>');

					.ie8 &,
					.lt-ie8 & {
						color: $AU-colordark-foreground-text;
					}
				}
			}

			@include AU-focus( 'dark' );
		}

		[tabindex="0"]:focus,
		:target {
			@include AU-outline( 'dark' );
		}

		mark {
			background-color: $AU-colordark-foreground-action;
			color: $AU-colordark-background;
		}

		hr {
			border-top-color: $AU-colordark-foreground-border;
		}

		code,
		kbd,
		samp {
			color: $AU-colordark-foreground-text;
			background-color: $AU-colordark-background-shade;
		}
	}

	&.au-body--dark.au-body--alt {
		background: $AU-colordark-background-alt;

		code,
		kbd,
		samp {
			background-color: $AU-colordark-background-alt-shade;
		}
	}
}
