//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Body module
//
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
	.uikit-body {
		* {
			text-shadow: none !important;
			color: #000 !important;
			background: #fff !important;
			box-shadow: none !important;
			border-color: #000 !important;
		}

		a,
		a:visited {
			text-decoration: underline;
		}

		a[href]:after {
			content: " (" attr(href) ")";
		}

		abbr[title]:after {
			content: " (" attr(title) ")";
		}

		a[href^="javascript:"]:after,
		a[href^="#"]:after {
			content: "";
		}

		a[rel~='external']:after {
			display: none !important;
		}

		pre,
		blockquote {
			border: 1px solid #000;
			padding: 6px;
			page-break-inside: avoid;
		}

		thead {
			display: table-header-group;
		}

		tr,
		img {
			page-break-inside: avoid;
		}

		img {
			max-width: 100% !important;
		}

		p,
		h2,
		h3 {
			orphans: 3;
			widows: 3;
		}

		h2,
		h3 {
			page-break-after: avoid;
		}

		p a {
			word-wrap: break-word;
		}

		select {
			background: #fff !important;
		}
	}
}
