//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Body module
//
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
	.au-body {

		*,
		& {
			text-shadow: none !important;
			color: #000 !important;
			background-color: transparent !important;
			box-shadow: none !important;
			border-color: #000 !important;
		}

		a,
		a:visited {
			text-decoration: underline;
		}

		// Add the URL after the link on print
		a[href]:after {
			content: " (" attr(href) ")" !important;
			display: inline !important;
		}

		// Do not add the URL if it's a javascript or anchor
		a[href^="javascript:"]:after,
		a[href^="#"]:after {
			content: "" !important;
		}

		// Add the abbreviation expanded on print
		abbr[title]:after {
			content: " (" attr(title) ")";
		}

		pre,
		blockquote {
			border: 1px solid #000;
			padding: 6px;
			page-break-inside: avoid;
		}

		thead {
			display: table-header-group;
		}

		tr,
		img {
			page-break-inside: avoid;
		}

		img {
			max-width: 100% !important;
		}

		p,
		h2,
		h3 {
			orphans: 3;
			widows: 3;
		}

		h2,
		h3 {
			page-break-after: avoid;
		}

		p a {
			word-wrap: break-word;
		}

		select {
			background: #fff !important;
		}
	}
}
