//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Body module
//
// Content:
// - Body styles
//   - [add me when items are decided & ordering is determined]
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import 'globals.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// BODY STYLES
//
// Thinking: primarily we want to target these: https://w3c.github.io/html/textlevel-semantics.html
//
// From there:
// - provide good, legible basics
// - provide a vertical rhythm based on content size
// - cater for a common and semantic nesting
// - keep styling to a minimum
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	line-height: $uikit-core-leading;
}

/**
 * Text selection and `mark` styling.
 */
mark,
::selection {
	background-color: $uikit-core-colour-Warning-60;
}

mark {
	padding: 0 2px;
	border-radius: $uikit-body-border-radius;
}


/**
 * Vertical spacing of common text elements.
 */
// `dl` shouldn’t be missing here…
p,
ul,
ol,
dd,
pre {
	margin-top: 0;
	margin-bottom: uikit-core-space(1);
}

ul,
ol,
dd {
	margin-left: 0;
	padding-left: uikit-core-space(1);
}

ul,
ol {
	li {
		margin-bottom: uikit-core-space(0.25);

		ul,
		ol {
			margin-top: uikit-core-space(0.25);
			margin-bottom: uikit-core-space(0.5);
		}
	}

	ul {
		list-style-type: disc;
	}
}

dl {
	margin-bottom: uikit-core-space(1.25);
	margin-left: 0;
	padding-left: 0;

	dt {
		font-weight: bold;
		margin-top: uikit-core-space(0.5);
		margin-bottom: uikit-core-space(0.5);

		&:first-of-type {
			margin-top: 0;
		}
	}
}


/**
 * Emphasis and alt. voice/mood/diff. from prose text.
 */
em,
i {
	font-style: italic;
}

/**
 * Important (leaving `b` out for now (and `u` also)).
 */
strong {
	font-weight: bold;
}


/**
 * `small`: for less important information (not stylistic purposes).
 */
small {
	font-size: 0.875em;//14 from 16
	color: $uikit-core-colour-Text-70;
}


/**
 * `s`: represents contents no longer accurate/relevant.
 */
s {
	text-decoration: line-through;
}


/**
 * `del` & `ins`: editorial markup.
 *
 */
del {
	text-decoration: line-through;
	color: $uikit-core-colour-Text-80;
	//Idea: for `del`: switch to the opposite of the current sans/sans-serif style?
}

ins {
	text-decoration-line: underline;
	text-decoration-style: dashed;//Waiting on Chrome.
	//text-decoration-skip: ink;//Forward planning.
}


/**
 * Defining definition of a term.
 *
 * The paragraph, description list group, or section that is the nearest
 * ancestor of the `dfn` element must also contain the definition(s) for the term
 * given by the `dfn` element.
 *
 * Note: `abbr` can be nested inside `dfn`.
 */
dfn {
	font-style: normal;
}


/**
 * Abbreviations/acronyms.
 *
 * This styling removes any custom casing (mixing of u&lc chars in the `abbr`).
 *
 * Todo: test font stack fallbacks with the font-size adj.
 */
abbr,
abbr[title] {
	font-size: 1.125em;//18 from 16
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: 1px;
	text-decoration: none;
	border-bottom-color: $uikit-core-colour-Border;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	cursor: help;
}


/**
 * Variables, eg. as used in mathematical expressions.
 *
 * We also provide semantic support for nested vars, and things like indices.
 */
var {
	padding: 0 1px;
	font-style: italic;
	font-family: serif;//Todo: create variable + move all font stacks into same module?

	sup,
	sub {
		font-family: $uikit-core-font;
		font-style: normal;
		padding: 0 1px;
	}
}


/**
 * Code snippets and code blocks.
 */
code,
kbd,
pre {
	font-family: $uikit-body-monospace;
}


/**
 * Pre-formatted text set by typographic characters.
 */
pre {
	& code,
	& samp,
	& kbd {
		font-size: 0.875em;//14 from 16
	}
}


/**
 * Keyboard strokes.
 */
kbd {
	display: inline-block;
	font-size: 0.875em;//14 from 16
	border: solid 1px $uikit-core-colour-Hero-50;
	border-radius: $uikit-body-border-radius;
	box-shadow: 0 1px 0 0 $uikit-core-colour-Info;
	background-color: $uikit-core-colour-Background;
	color: $uikit-core-colour-Beta;
	text-align: center;
	padding: 0 uikit-core-space(0.5);
	margin: 0 2px;
}

/**
 * Horizontal rule, used for paragraph-level thematic breaks.
 */
hr {
	border-color: $uikit-core-colour-Border;
	border-style: solid;
	border-bottom: none;
	margin-top: uikit-core-space(1);
	margin-bottom: uikit-core-space(1);
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Proposed potential useful thing for the heading module?
$class-slug: for !default

@for $i from 1 through 6 {
	h#{$i},
	.display-#{$i} {
		line-height: $uikit-core-leading / 1.142857143;//1.4
	}
}

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// `.abstract` page/header/article lead-in
/**
 * Abstract/introductions.
 */
@mixin abstract {
	font-size: 1.1875em;//19 from 16
}

.abstract {
	@include abstract;
}
