//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// callout module
// Use callout to notify and alert users of important snippets of information.
//
// Content:
// - Callout styling
// - calendar-event variant
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Callout styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * The generic callout.
 */
.uikit-callout {
	font-family: $uikit-font-system;
	color: $uikit-colour-Text;
	line-height: $uikit-leading;
	margin: uikit-space( 1 ) uikit-space( 0.25 );
	padding: uikit-space( 0.75 ) uikit-space( 0.75 ) uikit-space( 0.75 ) uikit-space( 0.5 );
	border-left: 6px solid $uikit-colour-Info;
	border-radius: $uikit-border-radius;
	box-shadow: 2px 0 6px transparentize($uikit-colour-Text, 0.3);
	max-width: $uikit-maxwidth;

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}

	.ie8 &,
	.lt-ie8 & {
		border-top: $uikit-borderize;
		border-right: $uikit-borderize;
		border-bottom: $uikit-borderize;
	}
}


/**
 * The calendar event callout
 */
.uikit-callout--calendar-event {
	background-color: $uikit-colour-Background;
}

.uikit-callout--calendar-event__lede,
.uikit-callout--calendar-event__time,
.uikit-callout--calendar-event__name {
	display: block; //overrides body, depending on markup (eg. using `p`).
}

.uikit-callout--calendar-event__lede,
.uikit-callout--calendar-event__time,
.uikit-callout--calendar-event__name {
	margin-bottom: uikit-space( 0.5 ); //overrides body, to allow for var. text markup.
}

.uikit-callout--calendar-event__lede {
	font-size: 18px;
}

.uikit-callout--calendar-event__time,
.uikit-callout--calendar-event__name {
	font-size: 32px;
}

.uikit-callout--calendar-event__time {
	font-weight: bold;
	margin-bottom: 0;
}
