//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// callout module
// Use callout to notify and alert users of important snippets of information.
//
// Content:
// - Callout styling
// - calendar-event variant
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Callout styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * The generic callout.
 */
.au-callout {
	font-family: $AU-font;
	color: $AU-color-Text;
	line-height: $AU-leading;
	margin: AU-space( 1 ) AU-space( 0.25 );
	padding: AU-space( 0.75 ) AU-space( 0.75 ) AU-space( 0.75 ) AU-space( 0.5 );
	border-left: 6px solid $AU-colordark-Background-light;
	border-radius: $AU-border-radius;
	box-shadow: 2px 0 6px transparentize($AU-color-Text, 0.3);
	max-width: $AU-maxwidth;

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}

	.ie8 &,
	.lt-ie8 & {
		border-top: $AU-borderize;
		border-right: $AU-borderize;
		border-bottom: $AU-borderize;
	}
}


/**
 * The calendar event callout
 */
.au-callout--calendar-event {
	background-color: $AU-color-Background;
}

.au-callout--calendar-event__lede,
.au-callout--calendar-event__time,
.au-callout--calendar-event__name {
	display: block; //overrides body, depending on markup (eg. using `p`).
}

.au-callout--calendar-event__lede,
.au-callout--calendar-event__time,
.au-callout--calendar-event__name {
	margin-bottom: AU-space( 0.5 ); //overrides body, to allow for var. text markup.
}

.au-callout--calendar-event__lede {
	font-size: 18px;
}

.au-callout--calendar-event__time,
.au-callout--calendar-event__name {
	font-size: 32px;
}

.au-callout--calendar-event__time {
	font-weight: bold;
	margin-bottom: 0;
}
