//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// callout module
// Use callout to notify and alert users of important snippets of information.
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
	.au-callout {
		border-top: 1px solid #000 !important;
		border-right: 1px solid #000 !important;
		border-bottom: 1px solid #000 !important;
	}
}
