//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// more-link module
// Provide a see more/all link when there are too many items to show in the current context.
//
// Content:
// - See more link styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// See more link styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-more-link {
	display: inline-block;
	position: relative;
	font-size: 1.125em; // 18 from 16
	margin-bottom: uikit-space( 1 );
	font-weight: bold;

	.uikit-body & {
		color: $uikit-colour-Beta-80; //overrides body’s uikit-body a styling.
	}

	// This implementation still has issues:
	// - there’s whitespace above/below (when the link text wraps lines) that cannot activate the link
	// - there’s an overlap for some weird reason between the link and the after element.
	&:after {
		content: '>';
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -($uikit-leading / 2) * 1em;
		right: -1em;
		padding-left: 1em;
		font-family: $uikit-font-system;
		color: $uikit-colour-Beta-60;
	}

	&:hover,
	&:focus {
		color: $uikit-colour-Text; //sets the hover back to what it used to be.
	}
}
