//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// buttons module
// Buttons signal action. Use them to move the user through the service.
//
// Content:
// - primary
// - secondary
// - tertiary
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// buttons
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


/**
 * PRIMARY
 */
.au-btn {
	@include AU-fontgrid( sm );
	@include AU-space( padding, 0.75unit 2unit );
	display: inline-block;
	appearance: none;
	font-family: $AU-font;
	color: $AU-color-Background-light;
	text-decoration: none;
	border-radius: $AU-border-radius;
	background-color: $AU-color-Action;
	border: 3px solid $AU-color-Action;
	cursor: pointer;
	transition: background 0.1s ease, border 0.1s ease, color 0.1s ease;

	&:hover {
		background-color: transparent;
		border-color: $AU-color-Text;
		text-decoration: underline;
		color: $AU-color-Text;
	}

	&:focus {
		border-radius: 0;
	}

	@include AU-focus();

	&.au-btn--dark {
		color: $AU-colordark-Background-light;
		background-color: $AU-colordark-Action;
		border-color: $AU-colordark-Action;
		&:hover {
			color: $AU-colordark-Text;
			border-color: $AU-colordark-Text;
			background-color: transparent;
		}

		@include AU-focus( 'dark' );
	}
}


/**
 * SECONDARY
 */
.au-btn--secondary {
	background-color: transparent;
	border-color: $AU-color-Action;
	color: $AU-color-Action;

	&.au-btn--dark {
		background-color: transparent;
		border-color: $AU-colordark-Action;
		color: $AU-colordark-Action;
	}
}


/**
 * TERTIARY
 */
.au-btn--tertiary {
	background-color: transparent;
	color: $AU-color-Action;
	border-color: transparent;
	text-decoration: underline;

	&.au-btn--dark {
		background-color: transparent;
		color: $AU-colordark-Action;
		border-color: transparent;
	}
}


/**
 * DISABLED
 */
.au-btn:disabled {
	font-weight: normal;
	color: $AU-color-Muted;
	border-color: transparent;
	background: transparent;
	cursor: not-allowed;
	text-decoration: none;

	&.au-btn--dark {
		color: $AU-colordark-Muted;
		background: transparent;
		border-color: transparent;
	}
}


/**
 * BLOCK
 */
.au-btn--block {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;

	// If it follows another au-btn--block
	& + .au-btn--block {
		@include AU-space( margin-top, 0.25unit );
	}
}
