//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// buttons module
// Buttons signal action. Use them to move the user through the service.
//
// Content:
// - primary
// - secondary
// - tertiary
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// buttons
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-btn {
	-webkit-appearance: none;
	border: none;
	background: none;
	font-size: 17px;
	font-family: $uikit-font-system;
	font-weight: bold;
	color: #fff;
	border-radius: $uikit-border-radius;
	background-color: $uikit-colour-Primary;
	height: 48px;
	padding: 0 1.2em;
	cursor: pointer;
	transition: background 0.1s ease;

	&:focus,
	&:hover {
		background-color: $uikit-colour-Primary--30;
	}

	@include uikit-focus();

	&:disabled {
		background-color: $uikit-colour-Border-30;
		font-weight: normal;
		color: $uikit-colour-Text;
		border: 1px dotted $uikit-colour-Text;
		cursor: not-allowed;

		&:focus,
		&:hover {
			background-color: $uikit-colour-Border-30;
		}
	}
}

/**
 * SECONDARY
 */
.uikit-btn--secondary {
	background-color: $uikit-colour-Secondary;

	&:focus,
	&:hover {
		background-color: $uikit-colour-Secondary-70;
	}
}

/**
 * TERTIARY
 */
.uikit-btn--tertiary {
	background-color: #fff;
	color: $uikit-colour-Text;
	border: 1px solid $uikit-colour-Primary;

	&:focus,
	&:hover {
		background-color: $uikit-colour-Primary-10;
	}
}
