//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// buttons module
// Buttons signal action. Use them to move the user through the service.
//
// Content:
// - primary
// - secondary
// - tertiary
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// buttons
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-btn,
a.au-btn {
	// Primary as default
	@include AU-fontgrid( sm );
	@include AU-space( padding, 0.5unit 1.5unit );
	display: inline-block;
	appearance: none;
	font-family: $AU-font;
	color: $AU-color-Background-light;
	text-decoration: none;
	border-radius: $AU-border-radius;
	background-color: $AU-color-Action;
	border: 3px solid $AU-color-Action;
	cursor: pointer;
	vertical-align: middle;
	transition: background 0.1s ease, border 0.1s ease, color 0.1s ease;

	&.au-btn--block + .au-btn.au-btn--block,
	&.au-btn--block + a.au-btn.au-btn--block {
		@include AU-space( margin-top, 0.5unit );
	}

	// focus
	@include AU-focus();

	&:focus {
		border-radius: 0;
	}

	// disabled
	&[disabled] { // IE8 doesn’t allow proper selectors
		cursor: not-allowed;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
		opacity: 0.3;
	}

	&:disabled {
		cursor: not-allowed;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
		opacity: 0.3;
	}

	// hover
	&:hover:not(:disabled) {
		background-color: $AU-color-Text;
		border-color: $AU-color-Text;
		text-decoration: underline;
		color: $AU-color-Background-light;
	}

	.ie8 & {
		&:hover {
			background-color: $AU-color-Text;
			border-color: $AU-color-Text;
			text-decoration: underline;
			color: $AU-color-Background-light;
		}
	}

	// dark
	&.au-btn--dark {
		color: $AU-colordark-Background-light;
		background-color: $AU-colordark-Action;
		border-color: $AU-colordark-Action;

		&:hover:not(:disabled) {
			color: $AU-colordark-Background-light;
			border-color: $AU-colordark-Text;
			background-color:  $AU-colordark-Text;
		}

		.ie8 & {
			&:hover {
				color: $AU-colordark-Background-light;
				border-color: $AU-colordark-Text;
				background-color:  $AU-colordark-Text;
			}
		}

		@include AU-focus( 'dark' );
	}


	/**
	* SECONDARY
	*/
	&.au-btn--secondary {
		background-color: transparent;
		border-color: $AU-color-Action;
		color: $AU-color-Action;

		&:hover:not(:disabled) {
			background-color: transparent;
			border-color: $AU-color-Text;
			color: $AU-color-Text;
		}

		&.au-btn--dark {
			border-color: $AU-colordark-Action;
			color: $AU-colordark-Action;

			&:hover:not(:disabled) {
				border-color: $AU-colordark-Text;
				color: $AU-colordark-Text;
			}
		}
	}

	/**
	* TERTIARY
	*/
	&.au-btn--tertiary {
		background-color: transparent;
		color: $AU-color-Action;
		border-color: transparent;
		text-decoration: underline;

		&:hover:not(:disabled) {
			background-color: transparent;
			color: $AU-color-Text;
			border-color: transparent;
			text-decoration: none;
		}

		&.au-btn--dark {
			color: $AU-colordark-Action;

			&:hover:not(:disabled) {
				color: $AU-colordark-Text;
			}
		}
	}

	&.au-btn--pride {
		background: linear-gradient(
			to bottom,
			rgba(255, 62, 24, 0.5) 16.66666666666667%,
			rgba(252, 154, 0, 0.5) 16.66666666666667%,
			rgba(252, 154, 0, 0.52) 33.33333333333333%,
			rgba(255, 216, 0, 0.5) 33.33333333333333%,
			rgba(255, 216, 0, 0.5) 33.33333333333333%,
			rgba(255, 216, 0, 0.5) 50.00000000000001%,
			rgba(57, 234, 124, 0.5) 50.00000000000001%,
			rgba(57, 234, 124, 0.5) 66.66666666666668%,
			rgba(11, 178, 255, 0.5) 66.66666666666668%,
			rgba(11, 178, 255, 0.5) 83.33333333333335%,
			rgba(152, 90, 255, 0.5) 83.33333333333335%
		);
		color: $AU-color-Text;
	}

	/**
 	 * BLOCK
 	 */
	&.au-btn--block {
		display: block;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
	}
}
