/*! [replace-name] v[replace-version] */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// tags module globals
// Use tags to apply a taxonomy and link to similar content.
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: "[replace-name]";
$version: "[replace-version]";
$dependencies: (
	[replace-dependencies]
);


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
