//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Tags module
// Use tags to apply a taxonomy and link to similar content.
//
// Content:
// - Tag styles
// - Tag heading style
// - Tag item style
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Tag styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-tags {
	display: block;
	margin: 0;
	padding: 0;
	font-family: $AU-font;
	color: $AU-color-Text;
	line-height: $AU-leading;
	margin-bottom: AU-space( 0.25 );

	.au-body & {
		margin-bottom: AU-space( 0.25 );
		padding-left: 0;
	}

	> dt {
		display: inline-block;

		.au-body & {
			margin-bottom: AU-space( 0.25 );
		}
	}
}

.au-tags__item {
	border: 1px solid $AU-colordark-Background-light;
	border-radius: $AU-border-radius;
	display: inline-block;
	margin: 0 AU-space( 0.25 ) AU-space( 0.25 ) 0;
	padding: 0 0.4em;

	.au-body & {
		margin-bottom: AU-space( 0.25 );
		padding-left: 0.4em;
	}

	> a,
	> button {
		display: inline-block;
		margin: 0 -0.4em;
		padding: 0 0.4em;
		text-decoration: none;
		color: $AU-color-Text;

		&:hover,
		&:focus {
			background-color: $AU-color-Action;
		}

		&:focus {
			@include AU-outline();
			outline-offset: 2px;
		}

		.au-body & {
			border: none;
		}
	}
}
