//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// cta-link module
// Use cta links to draw attention to a primary call to action
//
// Content:
// - styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@import '_globals.scss';
@import '_print.scss';


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// styling
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.au-cta-link {
	@include AU-fontsize( md );
	appearance: none;
	padding: 0;
	display: inline-block;
	position: relative;
	margin-bottom: AU-space( 1 );
	font-weight: bold;
	background: transparent;
	text-align: left;
	color: $AU-color-Action;
	font-family: $AU-font;
	text-decoration: underline;
	text-decoration-skip: ink;
	border: none;
	transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
	cursor: pointer;

	@include AU-focus();

	&:after {
		content: ' ';
		display: inline-block;
		width: 0.9em;
		height: 0.8em;
		margin: 0 AU-space( 0.25 ) 0 AU-space( 0.25 );
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
				<path fill="#{ $AU-color-Action }" d="M128 64l-64 64-16-16 64-64"/>
				<path fill="#{ $AU-color-Action }" d="M128 64l-16 16-64-64L64 0"/>
			</svg>');
		transition: margin 0.1s ease-in;

		.ie8 &,
		.lt-ie8 & {
			content: ' > ';
		}
	}

	&:hover {
		color: $AU-color-Text; //sets the hover back to what it used to be.
		text-decoration: none;

		&:after {
			margin: 0 AU-space( 0.1 ) 0 AU-space( 0.4 ); //move arrow by just AU-space( 0.1 ); this is not a magic number …
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
				<path fill="#{ $AU-color-Text }" d="M128 64l-64 64-16-16 64-64"/>
				<path fill="#{ $AU-color-Text }" d="M128 64l-16 16-64-64L64 0"/>
			</svg>');
		}
	}

	&--dark {
		color: $AU-colordark-Action;

		@include AU-focus( 'dark' );

		&:after {
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
				<path fill="#{ $AU-colordark-Action }" d="M128 64l-64 64-16-16 64-64"/>
				<path fill="#{ $AU-colordark-Action }" d="M128 64l-16 16-64-64L64 0"/>
			</svg>');
		}

		&:hover {
			color: $AU-colordark-Text;

			&:after {
				background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
					<path fill="#{ $AU-colordark-Text }" d="M128 64l-64 64-16-16 64-64"/>
					<path fill="#{ $AU-colordark-Text }" d="M128 64l-16 16-64-64L64 0"/>
				</svg>');
			}
		}
	}
}
