//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// cta-link module
// Use cta links to draw attention to a primary call to action
//
// Content:
// - print styles
//--------------------------------------------------------------------------------------------------------------------------------------------------------------


@media print {
	.au-cta-link {
		color: #000 !important;
		&:after {
			background-image: none !important;
			content: ' > ' !important;
			border: none !important;
			transform: rotate( 0deg ) !important;
		}
	}
}
