//sass-versioning
// @import '../../../../node_modules/sass-versioning/dist/_index.scss';

//dependencies
@import '../../../core/src/sass/_module.scss';

//this module
@import '../../src/sass/_module.scss';

//version check with sass-versioning
// @include versioning-check();
